# Bike Lane Data Transformations

## About this Notebook

1. Importing Libraries & Loading Data
2. Cleaning & Standardising OSM Data
3. Prepare the Ortsteile Dataset
4. Spatial Join
5. Data Validation
6. Quick EDA & Addressing Remaining Missing `street_name` Values
7. Calculating Lengths of Bikelanes
8. Data Check
9. Duplicate `bikelane_id`s 
10. Final Check of `geometry`Column

**Total records**: 
- 81,343

**Columns with null values**:
- `street_name`: 307 missing (0.38% of dataset). Maybe we can replace the nulls with 'Unknown' or leave them as null values

**Duplicate `bikelane_id`s**: 
- 1,677 IDs (~4% of dataset)
- All duplicates correspond to bikelanes spanning across multiple districts or neighborhoods.
- No duplicates were found within the same district and neighborhood, indicating no errors in the duplicates.
- A subset of 142 bikelanes spans multiple streets, representing long continuous lanes across different areas.

**Duplicate `street_names`**:
- Many occurrences per district (ie., A 100 in Charlottenburg-Wilmersdorf appears 60 times).
- These duplicates reflect multiple bikelane segments along the same street.

**Duplicate geometry and length_m:**
-  814 repeated geometries
- Duplicates occur because single bikelanes span multiple neighborhoods/districts.
- Corresponding lengths are also duplicated for these repeated segments.
- Example: way/894678838 has the same geometry repeated across Marzahn, Lichtenberg, and Alt-HohenschÃ¶nhausen with associated segment lengths.
- These duplicates are spatially valid and required for linking bikelanes to administrative boundaries.

**`Geometry` types**:
- LineString: 81,212
- MultiLineString: 131
- Remaining MultiLineStrings represent genuine multi-segment bikelanes spanning several areas.

**`street_name`s per district (sample & note)**:
- Charlottenburg-Wilmersdorf:
    - A 100 appears 60 times
    - A 111 appears 6 times
    - AVUS appears 2 times
    - Other streets (e.g., Aachener StraÃŸe, AbbestraÃŸe) also appear multiple times
- These counts reflect multiple bikelane segments per street, not errors.

**Conclusion**:
- The dataset is spatially consistent: duplicate `bikelane_id`s, `street_names`, `geometries`, and `lengths` can be explained by real-world lane spans across districts and neighborhoods.
- Missing `street_name`s are minimal and can be handled as 'Unknown' if necessary.
- No further deduplication is required for `bikelane_id`, `geometry`, or `length_m.
- All anomalies (duplicate street names, MultiLineStrings) are expected in urban spatial data.

## 1. Importing Libraries and Loading Data

### 1.1. Importing Libraries

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
from shapely.geometry import LineString, MultiLineString

### 1.2. Loading Data

#### Data Source Aliases
1. **osm** = osm_bikelanes dataset *(Used as the base layer for the final bikelane dataset)*
2. **ort** = lor_ortsteile dataset *(Used as the key that will be used to connect to the ERD. Connected to raw data via spatial join)*

In [2]:
osm = gpd.read_file("osm_bikelanes_raw.geojson")
ort = gpd.read_file("lor_ortsteile.geojson")

### 1.3. Confirming CRS type (`epsg: 4326`)

In [3]:
print("OSM CRS:", osm.crs)
print("Orteile CRS:", ort.crs)

OSM CRS: EPSG:4326
Orteile CRS: EPSG:4326

### 1.4 Overview of Raw Data Tables

#### OSM - *OpenStreetMap*

##### Note: 
With a total of 1064 columns, having 1041 object columns, 22 datetime columns and 1 geometry column this is too much to keep for the purposes of the project. 

Based on the parameters of the project, the following columns will be isolated to keep the relevant fields: 

- *`osm_id`*
- *`street_name`*
- *`geometry`*

In [4]:
print("OSM:", osm.shape)

OSM: (78865, 1064)

In [5]:
print("OSM Bike Lanes Columns & Data Types")
osm.info()

OSM Bike Lanes Columns & Data Types
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 78865 entries, 0 to 78864
Columns: 1064 entries, id to geometry
dtypes: datetime64[ms](22), geometry(1), object(1041)
memory usage: 640.2+ MB

In [6]:
osm.head(5)

,id,@id,HFCS,NHS,NJDOT_SRI,TMC:cid_58:tabcd_1:Class,TMC:cid_58:tabcd_1:Direction,TMC:cid_58:tabcd_1:LCLversion,TMC:cid_58:tabcd_1:LocationCode,TMC:cid_58:tabcd_1:NextLocationCode,...,wikipedia,wikipedia:left,wikipedia:right,winter_service,workrules,year_of_construction,zone:maxspeed,zone:parking,zone:traffic,geometry
0,way/43998936,way/43998936,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.60278 52.53787, 13.60269 52.53786..."
1,way/517805554,way/517805554,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.46367 52.47111, 13.46348 52.47116..."
2,way/1186003574,way/1186003574,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.34615 52.58978, 13.34614 52.58978..."
3,way/1186011275,way/1186011275,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.34569 52.58962, 13.3457 52.58961,..."
4,way/1187324842,way/1187324842,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((13.42565 52.48772, 13.42563 52.48772..."

#### Ortsteile (ORT) - *Districts*

In [7]:
print("Ortsteile:", ort.shape)

Ortsteile: (96, 8)

In [8]:
print("Ortsteile Bike Lanes Columns & Data Types")
ort.info()

Ortsteile Bike Lanes Columns & Data Types
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gml_id         96 non-null     object
 1   spatial_name   96 non-null     object
 2   spatial_alias  96 non-null     object
 3   spatial_type   96 non-null     object
 4   OTEIL          96 non-null     object
 5   BEZIRK         96 non-null     object
 6   FLAECHE_HA     96 non-null     float64
 7   geometry       96 non-null     geometry
dtypes: float64(1), geometry(1), object(6)
memory usage: 6.1+ KB

In [9]:
ort.head(5)

,gml_id,spatial_name,spatial_alias,spatial_type,OTEIL,BEZIRK,FLAECHE_HA,geometry
0,re_ortsteil.0101,0101,Mitte,Polygon,Mitte,Mitte,1063.8748,"POLYGON ((13.41649 52.52696, 13.41635 52.52702..."
1,re_ortsteil.0102,0102,Moabit,Polygon,Moabit,Mitte,768.7909,"POLYGON ((13.33884 52.51974, 13.33884 52.51974..."
2,re_ortsteil.0103,0103,Hansaviertel,Polygon,Hansaviertel,Mitte,52.5337,"POLYGON ((13.34322 52.51557, 13.34323 52.51557..."
3,re_ortsteil.0104,0104,Tiergarten,Polygon,Tiergarten,Mitte,516.0672,"POLYGON ((13.36879 52.49878, 13.36891 52.49877..."
4,re_ortsteil.0105,0105,Wedding,Polygon,Wedding,Mitte,919.9112,"POLYGON ((13.34656 52.53879, 13.34664 52.53878..."

## 2. Cleaning & Standardising OSM

### 2.1. Column Names

In [10]:
osm = osm.rename(columns={"id": "bikelane_id"})
osm = osm.rename(columns={"name": "street_name"})
osm = osm[["bikelane_id", "street_name", "geometry"]]

osm.head()

,bikelane_id,street_name,geometry
0,way/43998936,Fritz-Lang-Platz,"POLYGON ((13.60278 52.53787, 13.60269 52.53786..."
1,way/517805554,None,"POLYGON ((13.46367 52.47111, 13.46348 52.47116..."
2,way/1186003574,None,"POLYGON ((13.34615 52.58978, 13.34614 52.58978..."
3,way/1186011275,None,"POLYGON ((13.34569 52.58962, 13.3457 52.58961,..."
4,way/1187324842,None,"POLYGON ((13.42565 52.48772, 13.42563 52.48772..."

### 2.2. Validating Geometry & CRS types

In [11]:
osm = osm[osm.geometry.notnull()].copy()

In [12]:
osm = osm.set_crs("EPSG:4326", allow_override=True)

### 2.3. Addressing Geometry Column

In [13]:
print(osm.geom_type.value_counts())

LineString    78860
Polygon           5
Name: count, dtype: int64

In [14]:
from shapely.geometry import LineString

def polygon_to_linestring(geom):
    if geom.geom_type == "Polygon":
        return LineString(geom.exterior.coords)
    elif geom.geom_type == "MultiPolygon":
        return LineString([pt for poly in geom.geoms for pt in poly.exterior.coords])
    else:
        return geom  # keep LineString/other as-is

osm["geometry"] = osm.geometry.apply(polygon_to_linestring)

## 3. Prepare the Ortsteile Dataset

### 3.1. Column Names & CRS Normalisation

In [15]:
# harmonize the CRS
gdf_neighborhoods = ort.to_crs("EPSG:4326")

# rename columns for consistency
gdf_neighborhoods = gdf_neighborhoods.rename(columns={
    "BEZIRK": "district_name",
    "OTEIL": "neighborhood_name",
    "spatial_name": "neighborhood_id",
    "gml_id": "district_id"
})

## 4. Spatial Join

### 4.1. Conducting Spatial Overlay

In [16]:
# Bikelanes are a GeoDataFrame
gdf_bikelanes = gpd.GeoDataFrame(osm, geometry="geometry", crs="EPSG:4326")

bikelanes_enriched = gpd.overlay(
    gdf_bikelanes,
    gdf_neighborhoods,
    how="intersection",
    keep_geom_type=True
)

# Quick check
print(bikelanes_enriched.head())
print(bikelanes_enriched.shape)

      bikelane_id       street_name       district_id neighborhood_id  \
0    way/43998936  Fritz-Lang-Platz  re_ortsteil.1005            1005
1   way/517805554              None  re_ortsteil.0801            0801
2  way/1186003574              None  re_ortsteil.1201            1201
3  way/1186003574              None  re_ortsteil.1209            1209
4  way/1186011275              None  re_ortsteil.1201            1201

   spatial_alias spatial_type neighborhood_name        district_name  \
0    Hellersdorf      Polygon       Hellersdorf  Marzahn-Hellersdorf
1       NeukÃ¶lln      Polygon          NeukÃ¶lln             NeukÃ¶lln
2  Reinickendorf      Polygon     Reinickendorf        Reinickendorf
3       Wittenau      Polygon          Wittenau        Reinickendorf
4  Reinickendorf      Polygon     Reinickendorf        Reinickendorf

   FLAECHE_HA                                           geometry
0    811.3239  LINESTRING (13.60278 52.53787, 13.60269 52.537...
1   1166.8935  LINESTRING (13.46367 52.47111, 13.46348 52.471...
2   1044.1907  LINESTRING (13.34613 52.58977, 13.34616 52.589...
3    587.1148  MULTILINESTRING ((13.34615 52.58978, 13.34614 ...
4   1044.1907  MULTILINESTRING ((13.34569 52.58962, 13.3457 5...
(80517, 10)

### 4.2. Selecting Relevant Columns

In [17]:
bikelanes_enriched = bikelanes_enriched[[
    "bikelane_id",
    "street_name",
    "district_id",
    "district_name",
    "neighborhood_id",
    "neighborhood_name",
    "geometry"
]]

## 5. Data Validation
**Note:** I am checking for the missing `street_name` values via Reverse Geocoding **before** calculating lengths of the bikelanes & checking if bikelanes intersect with multiple neighborhoods/districts

#### 5.1. Checking for missing `street_name` values

In [18]:
missing_streets = bikelanes_enriched[bikelanes_enriched["street_name"].isna()]
print("Missing street names:", len(missing_streets))

Missing street names: 13344

#### 5.2. Reverse Geocoding for the missing `street_names`s

##### Import Libraries for Reverse Geocoding

In [19]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
from time import sleep
from tqdm.notebook import tqdm

##### Initialising the Geolocator & Building Function to Get the Missing `street_name`s

**Note:** To generate the missing `street_name`values, the function will be using the "centroid" of the LineString/MultiLineString values

In [34]:
geolocator = Nominatim(user_agent="berlin_bikelanes_locator")

def get_street_name(lat, lon, max_retries=3):
    attempt = 0
    while attempt < max_retries:
        try:
            location = geolocator.reverse((lat, lon), exactly_one=True)
            sleep(1)  # avoid being blocked by API
            if location and "address" in location.raw:
                address = location.raw["address"]
                return (
                    address.get("road")
                    or address.get("pedestrian")
                    or address.get("footway")
                    or address.get("street")
                    or None
                )
            return None
        except GeocoderTimedOut:
            attempt += 1
            print(f"âš ï¸ Timeout at ({lat}, {lon}), retrying {attempt}/{max_retries}...")
            sleep(2)
        except Exception as e:
            print(f"âŒ Error at ({lat}, {lon}): {e}")
            return None
    print(f"âŒ Failed after {max_retries} retries: ({lat}, {lon})")
    return None

##### Filtering Rows with Missing `street_name` values

In [35]:
missing_street_rows = bikelanes_enriched[bikelanes_enriched["street_name"].isna()].copy()
print(f"â„¹ï¸ Total rows to geocode: {len(missing_street_rows)}")

â„¹ï¸ Total rows to geocode: 13344

#### Creating Representation Points & Progress Bar

In [33]:
missing_street_rows["rep_point"] = missing_street_rows.geometry.centroid

tqdm.pandas()

/var/folders/f9/6t_vxz3j72n2c4hm_ws2nrqm0000gn/T/ipykernel_55013/579407429.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  missing_street_rows["rep_point"] = missing_street_rows.geometry.centroid

#### Safeguard Against Losing Data

In [36]:
results = []
SAVE_INTERVAL = 50
partial_file = "street_name_progress_partial.csv"

#### Conduct the Reverse Geocoding

In [38]:
tqdm.pandas()

for i, row in tqdm(missing_street_rows.iterrows(), total=len(missing_street_rows)):
    centroid = row.geometry.centroid
    lat, lon = centroid.y, centroid.x
    street_name = get_street_name(lat, lon)
    
    results.append({
        "bikelane_id": row.bikelane_id,
        "latitude": lat,
        "longitude": lon,
        "street_name_filled": street_name
    })
    
    # Save progress every SAVE_INTERVAL rows
    if (i + 1) % SAVE_INTERVAL == 0:
        partial_df = pd.DataFrame(results)
        partial_df.to_csv(partial_file, index=False)
        print(f"ğŸ’¾ Saved progress after {i + 1} rows...")

  0%|          | 0/13344 [00:00<?, ?it/s]

ğŸ’¾ Saved progress after 3100 rows...
ğŸ’¾ Saved progress after 5850 rows...
ğŸ’¾ Saved progress after 6250 rows...
ğŸ’¾ Saved progress after 9250 rows...
ğŸ’¾ Saved progress after 12100 rows...
ğŸ’¾ Saved progress after 12350 rows...
ğŸ’¾ Saved progress after 12500 rows...
ğŸ’¾ Saved progress after 13000 rows...
ğŸ’¾ Saved progress after 13150 rows...
ğŸ’¾ Saved progress after 14150 rows...
ğŸ’¾ Saved progress after 15600 rows...
ğŸ’¾ Saved progress after 15750 rows...
ğŸ’¾ Saved progress after 16850 rows...
ğŸ’¾ Saved progress after 16900 rows...
ğŸ’¾ Saved progress after 16950 rows...
ğŸ’¾ Saved progress after 17500 rows...
ğŸ’¾ Saved progress after 17600 rows...
ğŸ’¾ Saved progress after 17750 rows...
ğŸ’¾ Saved progress after 17950 rows...
ğŸ’¾ Saved progress after 18050 rows...
ğŸ’¾ Saved progress after 18350 rows...
ğŸ’¾ Saved progress after 21850 rows...
ğŸ’¾ Saved progress after 22800 rows...
ğŸ’¾ Saved progress after 22900 rows...
ğŸ’¾ Saved progress after 23050 rows...
ğŸ’¾ Saved progress after 23250 rows...
ğŸ’¾ Saved progress after 23400 rows...
ğŸ’¾ Saved progress after 23650 rows...
ğŸ’¾ Saved progress after 24200 rows...
ğŸ’¾ Saved progress after 24350 rows...
ğŸ’¾ Saved progress after 24950 rows...
ğŸ’¾ Saved progress after 25150 rows...
ğŸ’¾ Saved progress after 25500 rows...
ğŸ’¾ Saved progress after 26350 rows...
ğŸ’¾ Saved progress after 26400 rows...
ğŸ’¾ Saved progress after 27200 rows...
ğŸ’¾ Saved progress after 29250 rows...
ğŸ’¾ Saved progress after 29550 rows...
ğŸ’¾ Saved progress after 29900 rows...
ğŸ’¾ Saved progress after 30600 rows...
ğŸ’¾ Saved progress after 30650 rows...
ğŸ’¾ Saved progress after 31450 rows...
ğŸ’¾ Saved progress after 31650 rows...
ğŸ’¾ Saved progress after 31750 rows...
ğŸ’¾ Saved progress after 32200 rows...
ğŸ’¾ Saved progress after 32250 rows...
ğŸ’¾ Saved progress after 32650 rows...
ğŸ’¾ Saved progress after 32750 rows...
ğŸ’¾ Saved progress after 32850 rows...
ğŸ’¾ Saved progress after 32950 rows...
ğŸ’¾ Saved progress after 33000 rows...
ğŸ’¾ Saved progress after 33050 rows...
ğŸ’¾ Saved progress after 33350 rows...
ğŸ’¾ Saved progress after 33500 rows...
ğŸ’¾ Saved progress after 33650 rows...
ğŸ’¾ Saved progress after 33700 rows...
ğŸ’¾ Saved progress after 33850 rows...
ğŸ’¾ Saved progress after 33950 rows...
ğŸ’¾ Saved progress after 34200 rows...
ğŸ’¾ Saved progress after 34450 rows...
ğŸ’¾ Saved progress after 34550 rows...
ğŸ’¾ Saved progress after 34600 rows...
ğŸ’¾ Saved progress after 35000 rows...
ğŸ’¾ Saved progress after 35100 rows...
ğŸ’¾ Saved progress after 35200 rows...
ğŸ’¾ Saved progress after 35250 rows...
ğŸ’¾ Saved progress after 35300 rows...
ğŸ’¾ Saved progress after 35350 rows...
ğŸ’¾ Saved progress after 35500 rows...
ğŸ’¾ Saved progress after 35650 rows...
ğŸ’¾ Saved progress after 35750 rows...
ğŸ’¾ Saved progress after 35800 rows...
ğŸ’¾ Saved progress after 36000 rows...
ğŸ’¾ Saved progress after 36150 rows...
ğŸ’¾ Saved progress after 36200 rows...
ğŸ’¾ Saved progress after 36600 rows...
ğŸ’¾ Saved progress after 36650 rows...
ğŸ’¾ Saved progress after 36700 rows...
ğŸ’¾ Saved progress after 36750 rows...
ğŸ’¾ Saved progress after 36850 rows...
ğŸ’¾ Saved progress after 36900 rows...
ğŸ’¾ Saved progress after 37000 rows...
ğŸ’¾ Saved progress after 37050 rows...
ğŸ’¾ Saved progress after 37100 rows...
ğŸ’¾ Saved progress after 37200 rows...
ğŸ’¾ Saved progress after 37250 rows...
ğŸ’¾ Saved progress after 37400 rows...
ğŸ’¾ Saved progress after 37450 rows...
ğŸ’¾ Saved progress after 37550 rows...
ğŸ’¾ Saved progress after 37650 rows...
ğŸ’¾ Saved progress after 37700 rows...
âŒ Error at (52.53892361404144, 13.431199103300294): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.53892361404144&lon=13.431199103300294&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
âŒ Error at (52.5723313, 13.56549435): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.5723313&lon=13.56549435&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
ğŸ’¾ Saved progress after 38150 rows...
ğŸ’¾ Saved progress after 38200 rows...
ğŸ’¾ Saved progress after 38400 rows...
ğŸ’¾ Saved progress after 38500 rows...
ğŸ’¾ Saved progress after 38600 rows...
ğŸ’¾ Saved progress after 38650 rows...
ğŸ’¾ Saved progress after 38700 rows...
ğŸ’¾ Saved progress after 38750 rows...
ğŸ’¾ Saved progress after 38850 rows...
ğŸ’¾ Saved progress after 38900 rows...
ğŸ’¾ Saved progress after 39050 rows...
ğŸ’¾ Saved progress after 39200 rows...
ğŸ’¾ Saved progress after 39550 rows...
ğŸ’¾ Saved progress after 39800 rows...
ğŸ’¾ Saved progress after 40200 rows...
ğŸ’¾ Saved progress after 40550 rows...
ğŸ’¾ Saved progress after 40850 rows...
ğŸ’¾ Saved progress after 41000 rows...
ğŸ’¾ Saved progress after 41100 rows...
ğŸ’¾ Saved progress after 41400 rows...
ğŸ’¾ Saved progress after 41500 rows...
ğŸ’¾ Saved progress after 42650 rows...
ğŸ’¾ Saved progress after 42700 rows...
ğŸ’¾ Saved progress after 43800 rows...
ğŸ’¾ Saved progress after 43850 rows...
ğŸ’¾ Saved progress after 43950 rows...
ğŸ’¾ Saved progress after 44800 rows...
ğŸ’¾ Saved progress after 45300 rows...
ğŸ’¾ Saved progress after 45350 rows...
ğŸ’¾ Saved progress after 45450 rows...
ğŸ’¾ Saved progress after 45500 rows...
ğŸ’¾ Saved progress after 46750 rows...
ğŸ’¾ Saved progress after 48100 rows...
ğŸ’¾ Saved progress after 49750 rows...
ğŸ’¾ Saved progress after 50000 rows...
ğŸ’¾ Saved progress after 50550 rows...
ğŸ’¾ Saved progress after 50750 rows...
ğŸ’¾ Saved progress after 50800 rows...
ğŸ’¾ Saved progress after 50850 rows...
âŒ Error at (52.524146733071056, 13.342610673069023): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.524146733071056&lon=13.342610673069023&format=json&addressdetails=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x162202e90>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
ğŸ’¾ Saved progress after 50900 rows...
ğŸ’¾ Saved progress after 51050 rows...
ğŸ’¾ Saved progress after 51250 rows...
ğŸ’¾ Saved progress after 51600 rows...
ğŸ’¾ Saved progress after 52000 rows...
ğŸ’¾ Saved progress after 52150 rows...
ğŸ’¾ Saved progress after 52200 rows...
ğŸ’¾ Saved progress after 52750 rows...
ğŸ’¾ Saved progress after 53000 rows...
ğŸ’¾ Saved progress after 53050 rows...
ğŸ’¾ Saved progress after 53100 rows...
ğŸ’¾ Saved progress after 53200 rows...
ğŸ’¾ Saved progress after 53250 rows...
ğŸ’¾ Saved progress after 53550 rows...
ğŸ’¾ Saved progress after 53700 rows...
âŒ Error at (52.45821233155286, 13.35484820175519): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.45821233155286&lon=13.35484820175519&format=json&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
ğŸ’¾ Saved progress after 53800 rows...
ğŸ’¾ Saved progress after 53850 rows...
ğŸ’¾ Saved progress after 53900 rows...
ğŸ’¾ Saved progress after 54100 rows...
ğŸ’¾ Saved progress after 54250 rows...
ğŸ’¾ Saved progress after 54350 rows...
ğŸ’¾ Saved progress after 54450 rows...
ğŸ’¾ Saved progress after 54550 rows...
ğŸ’¾ Saved progress after 54600 rows...
ğŸ’¾ Saved progress after 54850 rows...
ğŸ’¾ Saved progress after 54900 rows...
ğŸ’¾ Saved progress after 55050 rows...
ğŸ’¾ Saved progress after 55200 rows...
ğŸ’¾ Saved progress after 55300 rows...
ğŸ’¾ Saved progress after 55350 rows...
ğŸ’¾ Saved progress after 55400 rows...
ğŸ’¾ Saved progress after 55500 rows...
ğŸ’¾ Saved progress after 55550 rows...
ğŸ’¾ Saved progress after 55600 rows...
ğŸ’¾ Saved progress after 55650 rows...
ğŸ’¾ Saved progress after 55700 rows...
ğŸ’¾ Saved progress after 55750 rows...
ğŸ’¾ Saved progress after 55800 rows...
ğŸ’¾ Saved progress after 55850 rows...
ğŸ’¾ Saved progress after 55900 rows...
ğŸ’¾ Saved progress after 55950 rows...
ğŸ’¾ Saved progress after 56050 rows...
ğŸ’¾ Saved progress after 56200 rows...
ğŸ’¾ Saved progress after 56300 rows...
ğŸ’¾ Saved progress after 56350 rows...
ğŸ’¾ Saved progress after 56400 rows...
ğŸ’¾ Saved progress after 56550 rows...
ğŸ’¾ Saved progress after 56650 rows...
ğŸ’¾ Saved progress after 56800 rows...
ğŸ’¾ Saved progress after 56850 rows...
ğŸ’¾ Saved progress after 56900 rows...
ğŸ’¾ Saved progress after 57050 rows...
ğŸ’¾ Saved progress after 57100 rows...
ğŸ’¾ Saved progress after 57150 rows...
ğŸ’¾ Saved progress after 57300 rows...
ğŸ’¾ Saved progress after 57350 rows...
ğŸ’¾ Saved progress after 57400 rows...
ğŸ’¾ Saved progress after 57450 rows...
ğŸ’¾ Saved progress after 57500 rows...
ğŸ’¾ Saved progress after 57550 rows...
ğŸ’¾ Saved progress after 57600 rows...
ğŸ’¾ Saved progress after 57650 rows...
ğŸ’¾ Saved progress after 58000 rows...
ğŸ’¾ Saved progress after 58100 rows...
ğŸ’¾ Saved progress after 58150 rows...
ğŸ’¾ Saved progress after 58300 rows...
ğŸ’¾ Saved progress after 58350 rows...
ğŸ’¾ Saved progress after 58400 rows...
ğŸ’¾ Saved progress after 58500 rows...
ğŸ’¾ Saved progress after 58600 rows...
ğŸ’¾ Saved progress after 58700 rows...
ğŸ’¾ Saved progress after 58850 rows...
ğŸ’¾ Saved progress after 58950 rows...
ğŸ’¾ Saved progress after 59050 rows...
ğŸ’¾ Saved progress after 59100 rows...
ğŸ’¾ Saved progress after 59200 rows...
ğŸ’¾ Saved progress after 59250 rows...
ğŸ’¾ Saved progress after 59350 rows...
ğŸ’¾ Saved progress after 59450 rows...
ğŸ’¾ Saved progress after 59600 rows...
ğŸ’¾ Saved progress after 59750 rows...
ğŸ’¾ Saved progress after 60000 rows...
ğŸ’¾ Saved progress after 60050 rows...
ğŸ’¾ Saved progress after 60100 rows...
ğŸ’¾ Saved progress after 60150 rows...
ğŸ’¾ Saved progress after 60200 rows...
ğŸ’¾ Saved progress after 60250 rows...
ğŸ’¾ Saved progress after 60350 rows...
ğŸ’¾ Saved progress after 60700 rows...
ğŸ’¾ Saved progress after 60750 rows...
ğŸ’¾ Saved progress after 60800 rows...
ğŸ’¾ Saved progress after 60850 rows...
ğŸ’¾ Saved progress after 60950 rows...
ğŸ’¾ Saved progress after 61000 rows...
ğŸ’¾ Saved progress after 61100 rows...
ğŸ’¾ Saved progress after 61200 rows...
ğŸ’¾ Saved progress after 61250 rows...
ğŸ’¾ Saved progress after 61300 rows...
ğŸ’¾ Saved progress after 61350 rows...
ğŸ’¾ Saved progress after 61400 rows...
ğŸ’¾ Saved progress after 61450 rows...
ğŸ’¾ Saved progress after 61500 rows...
ğŸ’¾ Saved progress after 61600 rows...
ğŸ’¾ Saved progress after 61700 rows...
ğŸ’¾ Saved progress after 61750 rows...
ğŸ’¾ Saved progress after 61850 rows...
ğŸ’¾ Saved progress after 61900 rows...
ğŸ’¾ Saved progress after 61950 rows...
ğŸ’¾ Saved progress after 62000 rows...
ğŸ’¾ Saved progress after 62100 rows...
ğŸ’¾ Saved progress after 62150 rows...
ğŸ’¾ Saved progress after 62600 rows...
ğŸ’¾ Saved progress after 62650 rows...
ğŸ’¾ Saved progress after 62750 rows...
ğŸ’¾ Saved progress after 62800 rows...
ğŸ’¾ Saved progress after 62850 rows...
ğŸ’¾ Saved progress after 63050 rows...
ğŸ’¾ Saved progress after 63300 rows...
ğŸ’¾ Saved progress after 63350 rows...
ğŸ’¾ Saved progress after 63450 rows...
ğŸ’¾ Saved progress after 63700 rows...
ğŸ’¾ Saved progress after 63750 rows...
ğŸ’¾ Saved progress after 63850 rows...
ğŸ’¾ Saved progress after 63900 rows...
ğŸ’¾ Saved progress after 64050 rows...
ğŸ’¾ Saved progress after 64150 rows...
ğŸ’¾ Saved progress after 64200 rows...
ğŸ’¾ Saved progress after 64450 rows...
ğŸ’¾ Saved progress after 64500 rows...
ğŸ’¾ Saved progress after 64550 rows...
ğŸ’¾ Saved progress after 64600 rows...
ğŸ’¾ Saved progress after 64650 rows...
ğŸ’¾ Saved progress after 64700 rows...
ğŸ’¾ Saved progress after 64750 rows...
ğŸ’¾ Saved progress after 64800 rows...
ğŸ’¾ Saved progress after 64850 rows...
ğŸ’¾ Saved progress after 64950 rows...
ğŸ’¾ Saved progress after 65000 rows...
ğŸ’¾ Saved progress after 65050 rows...
ğŸ’¾ Saved progress after 65100 rows...
ğŸ’¾ Saved progress after 65150 rows...
ğŸ’¾ Saved progress after 65200 rows...
ğŸ’¾ Saved progress after 65250 rows...
ğŸ’¾ Saved progress after 65300 rows...
ğŸ’¾ Saved progress after 65350 rows...
ğŸ’¾ Saved progress after 65400 rows...
ğŸ’¾ Saved progress after 65450 rows...
ğŸ’¾ Saved progress after 66700 rows...
ğŸ’¾ Saved progress after 66750 rows...
ğŸ’¾ Saved progress after 67650 rows...
âŒ Error at (52.489427649999996, 13.180406349999998): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.489427649999996&lon=13.180406349999998&format=json&addressdetails=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x162203d90>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
âŒ Error at (52.46880774535525, 13.37082279820024): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.46880774535525&lon=13.37082279820024&format=json&addressdetails=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x162202e90>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
âŒ Error at (52.396185599999995, 13.39772665): HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=52.396185599999995&lon=13.39772665&format=json&addressdetails=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x162203890>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))
ğŸ’¾ Saved progress after 68500 rows...
ğŸ’¾ Saved progress after 74050 rows...
ğŸ’¾ Saved progress after 76350 rows...
ğŸ’¾ Saved progress after 76500 rows...
ğŸ’¾ Saved progress after 76550 rows...
ğŸ’¾ Saved progress after 76900 rows...
ğŸ’¾ Saved progress after 77700 rows...
ğŸ’¾ Saved progress after 80100 rows...

#### Saving the Final Results & Merging into Main Table

In [39]:
final_results_df = pd.DataFrame(results)
final_results_df.to_csv("street_name_progress_final.csv", index=False)
print(f"âœ… Reverse geocoding complete. Total rows processed: {len(final_results_df)}")

# --- Step 7: Merge back into main table ---
bikelanes_enriched = bikelanes_enriched.merge(
    final_results_df[["bikelane_id", "street_name_filled"]],
    on="bikelane_id",
    how="left"
)

âœ… Reverse geocoding complete. Total rows processed: 13344

#### Updating the `street_name`s Column

In [40]:
bikelanes_enriched["street_name"] = bikelanes_enriched["street_name"].fillna(bikelanes_enriched["street_name_filled"])
bikelanes_enriched.drop(columns=["street_name_filled"], inplace=True)

#### Checking the New `street_name` Column Values

In [41]:
print(bikelanes_enriched[["bikelane_id", "street_name"]].head(10))
print(f"Remaining missing street_name: {bikelanes_enriched['street_name'].isna().sum()}")

      bikelane_id        street_name
0    way/43998936   Fritz-Lang-Platz
1   way/517805554        Sonnenallee
2  way/1186003574      Am Nordgraben
3  way/1186003574  SchorfheidestraÃŸe
4  way/1186003574      Am Nordgraben
5  way/1186003574  SchorfheidestraÃŸe
6  way/1186011275      Am Nordgraben
7  way/1186011275  SchorfheidestraÃŸe
8  way/1186011275      Am Nordgraben
9  way/1186011275  SchorfheidestraÃŸe
Remaining missing street_name: 307

## 6. Quick EDA & Addressing Remaining Missing `street_name` Values

In [87]:
summary_data = []

# Total number of rows
total_rows = len(bikelanes_enriched)

# Loop through each column
for col in bikelanes_enriched.columns:
    num_nulls = bikelanes_enriched[col].isna().sum()
    num_unique = bikelanes_enriched[col].nunique()
    num_non_null_values = total_rows - num_nulls
    pct_missing = (num_nulls / total_rows) * 100
    pct_present = (num_non_null_values / total_rows) * 100
    num_duplicates = total_rows - num_unique - num_nulls  # duplicates = total - unique - nulls

    summary_data.append({
        "column": col,
        "total_rows": total_rows,
        "num_unique": num_unique,
        "num_duplicates": num_duplicates,
        "num_nulls": num_nulls,
        "num_non_null_values": num_non_null_values,
        "%_missing": round(pct_missing, 2),
        "%_present": round(pct_present, 2)
    })

# Convert to DataFrame
eda_summary = (
    pd.DataFrame(summary_data)
    .sort_values(by="%_missing", ascending=False)
    .reset_index(drop=True)
)

# Display neatly
print("ğŸ“Š Column Completeness & Duplicates Summary:")
display(eda_summary)

ğŸ“Š Column Completeness & Duplicates Summary:

,column,total_rows,num_unique,num_duplicates,num_nulls,num_non_null_values,%_missing,%_present
0,street_name,81343,8540,72496,307,81036,0.38,99.62
1,bikelane_id,81343,78833,2510,0,81343,0.00,100.00
2,district_id,81343,96,81247,0,81343,0.00,100.00
3,district_name,81343,12,81331,0,81343,0.00,100.00
4,neighborhood_id,81343,96,81247,0,81343,0.00,100.00
5,neighborhood_name,81343,96,81247,0,81343,0.00,100.00
6,geometry,81343,80517,826,0,81343,0.00,100.00
7,length_m,81343,80517,826,0,81343,0.00,100.00

 There are still 307 missing `street_name` values which only makes up 0.38% of all of the street_names. Maybe we list the remaining values as 'Unknown'?

## 7. Calculating Lengths of Bikelanes

1. Temporarily project to metric CRS (`EPSG:25833`) for accuracy.
2. Calculate the length in meters.
3. Return to `EPSG:4326`

In [50]:

bikelanes_enriched_metric = bikelanes_enriched.to_crs("EPSG:25833")


bikelanes_enriched_metric["length_m"] = bikelanes_enriched_metric.geometry.length


bikelanes_enriched = bikelanes_enriched_metric.to_crs("EPSG:4326")

In [51]:
bikelanes_enriched.head()

,bikelane_id,street_name,district_id,district_name,neighborhood_id,neighborhood_name,geometry,centroid,latitude,longitude,length_m
0,way/43998936,Fritz-Lang-Platz,re_ortsteil.1005,Marzahn-Hellersdorf,1005,Hellersdorf,"LINESTRING (13.60278 52.53787, 13.60269 52.537...",POINT (13.60277 52.53762),52.537618,13.602770,163.576194
1,way/517805554,Sonnenallee,re_ortsteil.0801,NeukÃ¶lln,0801,NeukÃ¶lln,"LINESTRING (13.46367 52.47111, 13.46348 52.471...",POINT (13.46352 52.47109),52.471086,13.463517,54.172358
2,way/1186003574,Am Nordgraben,re_ortsteil.1201,Reinickendorf,1201,Reinickendorf,"LINESTRING (13.34613 52.58977, 13.34616 52.589...",POINT (13.34621 52.58973),52.589728,13.346210,27.333073
3,way/1186003574,SchorfheidestraÃŸe,re_ortsteil.1201,Reinickendorf,1201,Reinickendorf,"LINESTRING (13.34613 52.58977, 13.34616 52.589...",POINT (13.34621 52.58973),52.589728,13.346210,27.333073
4,way/1186003574,Am Nordgraben,re_ortsteil.1209,Reinickendorf,1209,Wittenau,"MULTILINESTRING ((13.34615 52.58978, 13.34614 ...",POINT (13.34614 52.58978),52.589777,13.346142,2.378107

##### Dropping unnescesary `Longitude`& `Latitude`Columns

In [70]:
bikelanes_enriched = bikelanes_enriched.drop(columns=["centroid"])
bikelanes_enriched.columns

Index(['bikelane_id', 'street_name', 'district_id', 'district_name',
       'neighborhood_id', 'neighborhood_name', 'geometry', 'length_m'],
      dtype='object')

In [71]:
bikelanes_enriched.head()

,bikelane_id,street_name,district_id,district_name,neighborhood_id,neighborhood_name,geometry,length_m
0,way/43998936,Fritz-Lang-Platz,re_ortsteil.1005,Marzahn-Hellersdorf,1005,Hellersdorf,"LINESTRING (13.60278 52.53787, 13.60269 52.537...",163.576194
1,way/517805554,Sonnenallee,re_ortsteil.0801,NeukÃ¶lln,0801,NeukÃ¶lln,"LINESTRING (13.46367 52.47111, 13.46348 52.471...",54.172358
2,way/1186003574,Am Nordgraben,re_ortsteil.1201,Reinickendorf,1201,Reinickendorf,"LINESTRING (13.34613 52.58977, 13.34616 52.589...",27.333073
3,way/1186003574,SchorfheidestraÃŸe,re_ortsteil.1201,Reinickendorf,1201,Reinickendorf,"LINESTRING (13.34613 52.58977, 13.34616 52.589...",27.333073
4,way/1186003574,Am Nordgraben,re_ortsteil.1209,Reinickendorf,1209,Wittenau,"LINESTRING (13.34615 52.58978, 13.34615 52.589...",2.378107

## 8. Data Check

#### 8.1. Basic Overall Data Check

In [72]:
print("bikelanes_enriched dataset")
print("Shape:", bikelanes_enriched.shape)
print(bikelanes_enriched.info())

bikelanes_enriched dataset
Shape: (81343, 8)
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 81343 entries, 0 to 81342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bikelane_id        81343 non-null  object
 1   street_name        81036 non-null  object
 2   district_id        81343 non-null  object
 3   district_name      81343 non-null  object
 4   neighborhood_id    81343 non-null  object
 5   neighborhood_name  81343 non-null  object
 6   geometry           81343 non-null  geometry
 7   length_m           81343 non-null  float64
dtypes: float64(1), geometry(1), object(6)
memory usage: 5.0+ MB
None

In [73]:
bikelane_id_counts = bikelanes_enriched['bikelane_id'].value_counts()

# Inspect the most common duplicate counts
bikelane_id_counts.head(10)

bikelane_id
way/1160406678    9
way/894678838     9
way/963450770     9
way/936867362     9
way/1089640150    4
way/1323122054    4
way/1391917094    4
way/32608073      4
way/282611784     4
way/1119757603    4
Name: count, dtype: int64

In [74]:
duplicate_summary = bikelane_id_counts[bikelane_id_counts > 1]

print(f"Number of duplicated bikelane_ids: {len(duplicate_summary)}")
print(f"Total duplicate entries (all repeats combined): {duplicate_summary.sum() - len(duplicate_summary)}")

Number of duplicated bikelane_ids: 1677
Total duplicate entries (all repeats combined): 2510

In [75]:
bikelane_street_name = bikelanes_enriched['street_name'].value_counts()

# Inspect the most common duplicate counts
bikelane_street_name.head(10)

street_name
Landsberger Allee        535
HauptstraÃŸe              435
Berliner StraÃŸe          362
MÃ¤rkische Allee          303
Sonnenallee              289
Allee der Kosmonauten    277
HeerstraÃŸe               269
Blumberger Damm          241
Hohenzollerndamm         239
SeestraÃŸe                227
Name: count, dtype: int64

In [76]:
duplicate_street_names = bikelane_street_name[bikelane_street_name > 1]

print(f"Number of duplicated bikelane_ids: {len(duplicate_street_names)}")
print(f"Total duplicate entries (all repeats combined): {duplicate_street_names.sum() - len(duplicate_street_names)}")

Number of duplicated bikelane_ids: 6439
Total duplicate entries (all repeats combined): 72496

## 9. Duplicate `bikelane_id`s

#### 9.1. Checking for `bikelane_id`s that Intersect with Different neighborhoods/districts

In [77]:
# Aggregate all unique neighborhoods and districts per bikelane
bikelane_summary = bikelanes_enriched.groupby("bikelane_id").agg({
    "neighborhood_id": lambda x: list(x.unique()),
    "district_id": lambda x: list(x.unique())
}).reset_index()

# Add counts of unique neighborhoods and districts
bikelane_summary["num_unique_neighborhoods"] = bikelane_summary["neighborhood_id"].apply(len)
bikelane_summary["num_unique_districts"] = bikelane_summary["district_id"].apply(len)

# Optional: Inspect only bikelanes that span multiple neighborhoods or districts
bikelanes_multi_areas = bikelane_summary[
    (bikelane_summary["num_unique_neighborhoods"] > 1) |
    (bikelane_summary["num_unique_districts"] > 1)
]

# Preview
print(bikelanes_multi_areas.head(10))

        bikelane_id neighborhood_id                           district_id  \
6    way/1000383790    [0801, 0901]  [re_ortsteil.0801, re_ortsteil.0901]
56   way/1002392336    [0801, 0902]  [re_ortsteil.0801, re_ortsteil.0902]
62   way/1002431111    [0801, 0903]  [re_ortsteil.0801, re_ortsteil.0903]
77   way/1002890683    [0501, 0509]  [re_ortsteil.0501, re_ortsteil.0509]
92     way/10039499    [0601, 0701]  [re_ortsteil.0601, re_ortsteil.0701]
108  way/1004875831    [0302, 1110]  [re_ortsteil.0302, re_ortsteil.1110]
112  way/1004875837    [0302, 1110]  [re_ortsteil.0302, re_ortsteil.1110]
139  way/1005195273    [1003, 1005]  [re_ortsteil.1003, re_ortsteil.1005]
201  way/1007431584    [0503, 1202]  [re_ortsteil.0503, re_ortsteil.1202]
214  way/1008241164    [0801, 0802]  [re_ortsteil.0801, re_ortsteil.0802]

     num_unique_neighborhoods  num_unique_districts
6                           2                     2
56                          2                     2
62                          2                     2
77                          2                     2
92                          2                     2
108                         2                     2
112                         2                     2
139                         2                     2
201                         2                     2
214                         2                     2

#### 9.2. `bikelane_id`s Spanning Accross Multiple `street_name`s

##### Finding `bikelane_id`s that appear more than once & filtering the DataFrame for just those values

In [78]:
duplicate_ids = bikelanes_enriched["bikelane_id"].value_counts()
duplicate_ids = duplicate_ids[duplicate_ids > 1].index

duplicates_df = bikelanes_enriched[bikelanes_enriched["bikelane_id"].isin(duplicate_ids)]

##### Grouping by `bikelane_id` column & checking the `street_name`s

In [79]:
streetname_check = (
    duplicates_df.groupby("bikelane_id")["street_name"]
    .nunique()
    .reset_index()
    .rename(columns={"street_name": "num_unique_street_names"})
)

##### Filtering for `bikelane_id`s that appear with multiple street names

In [80]:
multi_street_ids = streetname_check[streetname_check["num_unique_street_names"] > 1]
print("Number of bikelanes with multiple street names:", len(multi_street_ids))

Number of bikelanes with multiple street names: 142

##### Quick preview of `bikelane_id`s that span over multiple `street_names`

In [81]:
example_ids = multi_street_ids["bikelane_id"].head(10).tolist()
bikelanes_enriched[bikelanes_enriched["bikelane_id"].isin(example_ids)][
    ["bikelane_id", "street_name", "neighborhood_name", "district_name"]
].sort_values("bikelane_id")

,bikelane_id,street_name,neighborhood_name,district_name
38661,way/1002890683,Ziegelhof,Spandau,Spandau
38662,way/1002890683,Kerstenweg,Spandau,Spandau
38663,way/1002890683,Ziegelhof,Wilhelmstadt,Spandau
38664,way/1002890683,Kerstenweg,Wilhelmstadt,Spandau
38694,way/1004875837,HansastraÃŸe,WeiÃŸensee,Pankow
38695,way/1004875837,Orankeweg,WeiÃŸensee,Pankow
38696,way/1004875837,HansastraÃŸe,Alt-HohenschÃ¶nhausen,Lichtenberg
38697,way/1004875837,Orankeweg,Alt-HohenschÃ¶nhausen,Lichtenberg
38785,way/1007431584,Tegeler BrÃ¼cke,Tegel,Reinickendorf
38784,way/1007431584,StraÃŸe L,Tegel,Reinickendorf
38782,way/1007431584,StraÃŸe L,Siemensstadt,Spandau
38783,way/1007431584,Tegeler BrÃ¼cke,Siemensstadt,Spandau
39020,way/1016866182,Grenzallee,Britz,NeukÃ¶lln
39017,way/1016866182,Karl-Marx-StraÃŸe,NeukÃ¶lln,NeukÃ¶lln
39018,way/1016866182,Grenzallee,NeukÃ¶lln,NeukÃ¶lln
39019,way/1016866182,Karl-Marx-StraÃŸe,Britz,NeukÃ¶lln
39044,way/1016866203,Grenzallee,Britz,NeukÃ¶lln
39045,way/1016866203,Karl-Marx-StraÃŸe,Britz,NeukÃ¶lln
39042,way/1016866203,Grenzallee,NeukÃ¶lln,NeukÃ¶lln
39043,way/1016866203,Karl-Marx-StraÃŸe,NeukÃ¶lln,NeukÃ¶lln
40104,way/1056191918,StraÃŸe des 17. Juni,Tiergarten,Mitte
40105,way/1056191918,BachstraÃŸe,Tiergarten,Mitte
40106,way/1056191918,StraÃŸe des 17. Juni,Charlottenburg,Charlottenburg-Wilmersdorf
40107,way/1056191918,BachstraÃŸe,Charlottenburg,Charlottenburg-Wilmersdorf
40566,way/1070053900,Augsburger StraÃŸe,Charlottenburg,Charlottenburg-Wilmersdorf
40567,way/1070053900,NÃ¼rnberger StraÃŸe,Charlottenburg,Charlottenburg-Wilmersdorf
40568,way/1070053900,Augsburger StraÃŸe,Wilmersdorf,Charlottenburg-Wilmersdorf
40569,way/1070053900,NÃ¼rnberger StraÃŸe,Wilmersdorf,Charlottenburg-Wilmersdorf
40621,way/1072169607,Spindlersfelder StraÃŸe,KÃ¶penick,Treptow-KÃ¶penick
40620,way/1072169607,OberspreestraÃŸe,KÃ¶penick,Treptow-KÃ¶penick
40618,way/1072169607,OberspreestraÃŸe,Adlershof,Treptow-KÃ¶penick
40619,way/1072169607,Spindlersfelder StraÃŸe,Adlershof,Treptow-KÃ¶penick
41809,way/1088980589,Landsberger Allee,Lichtenberg,Lichtenberg
41810,way/1088980589,Ferdinand-Schultze-StraÃŸe,Lichtenberg,Lichtenberg
41811,way/1088980589,Landsberger Allee,Alt-HohenschÃ¶nhausen,Lichtenberg
41812,way/1088980589,Ferdinand-Schultze-StraÃŸe,Alt-HohenschÃ¶nhausen,Lichtenberg
41926,way/1089640150,Bitterfelder StraÃŸe,Neu-HohenschÃ¶nhausen,Lichtenberg
41924,way/1089640150,Bitterfelder StraÃŸe,Marzahn,Marzahn-Hellersdorf
41925,way/1089640150,HohenschÃ¶nhauser StraÃŸe,Marzahn,Marzahn-Hellersdorf
41927,way/1089640150,HohenschÃ¶nhauser StraÃŸe,Neu-HohenschÃ¶nhausen,Lichtenberg

### 9.3. Drill down of results

As seen above, where `street_name`s are repeated, they are often repeated across different neighborhoods and/or districts as well. As such, I have conducted the further query below to check for true duplicates where each duplicated `bikelane_id` is categorised into a single type of duplicate based on a hierarchical classification to avoid possible duplicate overlapping. 
Heirarchy begins at `district_id` to `neighborhood_id` to `street_name`

In [82]:
# Group and summarize duplicates
dup_check = (
    bikelanes_enriched.groupby('bikelane_id')
    .agg({
        'street_name': pd.Series.nunique,
        'neighborhood_id': pd.Series.nunique,
        'district_id': pd.Series.nunique
    })
    .reset_index()
)

# Only keep true duplicates
dup_check = dup_check[(dup_check['street_name'] > 1) | 
                      (dup_check['neighborhood_id'] > 1) | 
                      (dup_check['district_id'] > 1)]

# Apply mutually exclusive classification
def classify_dup(row):
    # Prioritize based on hierarchy to avoid double counting
    if row['district_id'] > 1:
        return 'Cross-district'
    elif row['neighborhood_id'] > 1:
        return 'Cross-neighborhood'
    elif row['street_name'] > 1:
        return 'Multi-street'
    else:
        return 'Other'

dup_check['dup_type'] = dup_check.apply(classify_dup, axis=1)

# Summarize counts
dup_type_counts = dup_check['dup_type'].value_counts()
print(dup_type_counts)

dup_type
Cross-district    1677
Name: count, dtype: int64

In [83]:
# Identify duplicates that are not cross-district
unexplained_dups = (
    bikelanes_enriched[bikelanes_enriched["bikelane_id"].isin(dup_check["bikelane_id"])]
    .groupby("bikelane_id")
    .filter(lambda x: x["district_name"].nunique() == 1 and x["neighborhood_name"].nunique() == 1)
)

print(f"Unexplained duplicates (same district & neighborhood): {unexplained_dups['bikelane_id'].nunique()}")

Unexplained duplicates (same district & neighborhood): 0

## 10. Final Check of `geometry` Column

#### 10.1. Validating `geometry` type

In [84]:
bikelanes_enriched.geom_type.value_counts()

LineString         81212
MultiLineString      131
Name: count, dtype: int64

In [85]:
from shapely.geometry import MultiLineString, LineString
from shapely.ops import linemerge

def ensure_linestring(geom):
    if geom.geom_type == "MultiLineString":
        merged = linemerge(geom)
        # If merging results in a single continuous line, return it as LineString
        if isinstance(merged, LineString):
            return merged
        else:
            # If still MultiLineString, keep as-is
            return geom
    else:
        return geom

bikelanes_enriched["geometry"] = bikelanes_enriched["geometry"].apply(ensure_linestring)

In [86]:
bikelanes_enriched.geom_type.value_counts()

LineString         81212
MultiLineString      131
Name: count, dtype: int64

#### 10.2. Counting duplicate `geometry` values

In [88]:
geom_counts = bikelanes_enriched['geometry'].value_counts()
duplicate_geometries = geom_counts[geom_counts > 1]
print(f"Number of geometries that appear more than once: {len(duplicate_geometries)}")

Number of geometries that appear more than once: 814

In [89]:
top_geom = duplicate_geometries.head(5).index
bikelanes_enriched[bikelanes_enriched['geometry'].isin(top_geom)][
    ['bikelane_id','street_name','neighborhood_name','district_name','length_m']
]

,bikelane_id,street_name,neighborhood_name,district_name,length_m
35250,way/894678838,Landsberger Allee,Marzahn,Marzahn-Hellersdorf,55.487146
35251,way/894678838,Landsberger Allee,Marzahn,Marzahn-Hellersdorf,55.487146
35252,way/894678838,Landsberger Allee,Marzahn,Marzahn-Hellersdorf,55.487146
35253,way/894678838,Landsberger Allee,Lichtenberg,Lichtenberg,2.319407
35254,way/894678838,Landsberger Allee,Lichtenberg,Lichtenberg,2.319407
35255,way/894678838,Landsberger Allee,Lichtenberg,Lichtenberg,2.319407
35256,way/894678838,Landsberger Allee,Alt-HohenschÃ¶nhausen,Lichtenberg,5.857071
35257,way/894678838,Landsberger Allee,Alt-HohenschÃ¶nhausen,Lichtenberg,5.857071
35258,way/894678838,Landsberger Allee,Alt-HohenschÃ¶nhausen,Lichtenberg,5.857071
36295,way/936867362,Landsberger Allee,Lichtenberg,Lichtenberg,26.262257
36296,way/936867362,Landsberger Allee,Lichtenberg,Lichtenberg,26.262257
36297,way/936867362,RhinstraÃŸe,Lichtenberg,Lichtenberg,26.262257
37280,way/963450770,Rixdorfer StraÃŸe,Johannisthal,Treptow-KÃ¶penick,10.556733
37281,way/963450770,Rixdorfer StraÃŸe,Johannisthal,Treptow-KÃ¶penick,10.556733
37282,way/963450770,Rixdorfer StraÃŸe,Johannisthal,Treptow-KÃ¶penick,10.556733

In [90]:
street_dups = bikelanes_enriched.groupby(['district_name', 'street_name']).size().reset_index(name='count')
street_dups[street_dups['count'] > 1].head(10)

                district_name               street_name  count
0  Charlottenburg-Wilmersdorf                     A 100     60
1  Charlottenburg-Wilmersdorf                     A 111      6
2  Charlottenburg-Wilmersdorf                      AVUS      2
3  Charlottenburg-Wilmersdorf           Aachener StraÃŸe     14
4  Charlottenburg-Wilmersdorf                AbbestraÃŸe      5
5  Charlottenburg-Wilmersdorf     Adam-von-Trott-StraÃŸe      6
6  Charlottenburg-Wilmersdorf                Ahornallee     13
7  Charlottenburg-Wilmersdorf           AhrweilerstraÃŸe      6
8  Charlottenburg-Wilmersdorf              Akazienallee      5
9  Charlottenburg-Wilmersdorf  Albrecht-Achilles-StraÃŸe      5