In [132]:
import pandas as pd
import numpy as np
# Import the regular expressions module to work with text pattern matching and manipulation
import re

In [133]:
df=pd.read_csv("/Users/haritha/Downloads/listings2.csv")
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3176,https://www.airbnb.com/rooms/3176,20250620182343,2025-06-21,city scrape,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,The neighbourhood is famous for its variety of...,https://a0.muscache.com/pictures/airflow/Hosti...,3718,...,4.70,4.92,4.61,NaN,f,1,1,0,0,0.76
1,9991,https://www.airbnb.com/rooms/9991,20250620182343,2025-06-21,city scrape,Geourgeous flat - outstanding views,4 bedroom with very large windows and outstand...,Prenzlauer Berg is an amazing neighbourhood wh...,https://a0.muscache.com/pictures/42799131/59c8...,33852,...,5.00,4.86,4.86,03/Z/RA/003410-18,f,1,1,0,0,0.06
2,14325,https://www.airbnb.com/rooms/14325,20250620182343,2025-06-21,city scrape,Studio Apartment in Prenzlauer Berg,The apartment is located on the upper second f...,NaN,https://a0.muscache.com/pictures/508703/24988a...,55531,...,4.85,4.60,4.45,NaN,f,4,4,0,0,0.14
3,16644,https://www.airbnb.com/rooms/16644,20250620182343,2025-06-21,previous scrape,In the Heart of Berlin - Kreuzberg,Light and sunny 2-Room-turn of the century-fla...,Our Part of Kreuzberg is just the best. Good v...,https://a0.muscache.com/pictures/73759174/e2ef...,64696,...,4.86,4.67,4.71,NaN,f,2,2,0,0,0.26
4,17904,https://www.airbnb.com/rooms/17904,20250620182343,2025-06-21,city scrape,Beautiful Kreuzberg studio - 3 months minimum,"- apt is available starting September 1, 2024<...","The apartment is located in Kreuzberg, which i...",https://a0.muscache.com/pictures/d9a6f8be-54b9...,68997,...,4.92,4.88,4.65,NaN,f,1,1,0,0,1.60

In [134]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [135]:

# Dropping unnecessary columns that are either metadata, URLs, images, verbose text, or too granular for analysis
columns_to_drop = [
    'listing_url',
    'scrape_id',
    'last_scraped',
    'source',
    'neighborhood_overview',
    'picture_url',
    'host_url',
    'host_about',
    'host_response_time',
    'host_response_rate',
    'host_acceptance_rate',
    'host_thumbnail_url',
    'host_picture_url',
    'host_neighbourhood',
    'host_verifications',
    'host_has_profile_pic',
    'host_location',
    'neighbourhood',  
    'bathrooms_text', 
    'calendar_updated',
    'calendar_last_scraped',
    'availability_eoy',  
    'number_of_reviews_ly', 
    'first_review', 'last_review',
    'license',
    'minimum_minimum_nights',
    'maximum_minimum_nights',
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm',
    'calculated_host_listings_count',
    'calculated_host_listings_count_entire_homes',
    'calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms'
]

In [136]:
# Apply the column drop to the DataFrame
df.drop(columns=columns_to_drop, inplace=True)

In [137]:
df.head()

,id,name,description,host_id,host_name,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,...,estimated_revenue_l365d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,3176,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,3718,Britta,2008-10-19,f,1.0,1.0,t,...,13230.0,4.63,4.67,4.52,4.65,4.70,4.92,4.61,f,0.76
1,9991,Geourgeous flat - outstanding views,4 bedroom with very large windows and outstand...,33852,Philipp,2009-08-25,f,1.0,1.0,t,...,0.0,5.00,5.00,5.00,5.00,5.00,4.86,4.86,f,0.06
2,14325,Studio Apartment in Prenzlauer Berg,The apartment is located on the upper second f...,55531,Chris + Oliver,2009-11-18,t,4.0,5.0,t,...,0.0,4.68,5.00,4.85,4.70,4.85,4.60,4.45,f,0.14
3,16644,In the Heart of Berlin - Kreuzberg,Light and sunny 2-Room-turn of the century-fla...,64696,Rene,2009-12-20,f,4.0,4.0,t,...,NaN,4.72,4.86,4.86,4.93,4.86,4.67,4.71,f,0.26
4,17904,Beautiful Kreuzberg studio - 3 months minimum,"- apt is available starting September 1, 2024<...",68997,Matthias,2010-01-08,f,2.0,5.0,t,...,0.0,4.77,4.82,4.71,4.89,4.92,4.88,4.65,f,1.60

In [138]:
df.shape

(14187, 43)

In [139]:
df.columns

Index(['id', 'name', 'description', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_listings_count', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'estimated_occupancy_l365d', 'estimated_revenue_l365d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'reviews_per_month'],
      dtype='object')

In [140]:
# Check the number of null values in each column
df.isnull().sum()

id                                 0
name                               0
description                      603
host_id                            0
host_name                         13
host_since                        13
host_is_superhost                211
host_listings_count               13
host_total_listings_count         13
host_identity_verified            13
neighbourhood_cleansed             0
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                       4955
bedrooms                        2023
beds                            5003
amenities                          0
price                           5004
minimum_nights                     0
maximum_nights                     0
has_availability                 947
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
number_of_reviews                  0
number_of_reviews_ltm              0
number_of_reviews_l30d             0
estimated_occupancy_l365d          0
estimated_revenue_l365d         5004
review_scores_rating            3349
review_scores_accuracy          3351
review_scores_cleanliness       3349
review_scores_checkin           3352
review_scores_communication     3350
review_scores_location          3352
review_scores_value             3354
instant_bookable                   0
reviews_per_month               3349
dtype: int64

In [141]:
# Get an overview of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14187 entries, 0 to 14186
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            14187 non-null  int64
 1   name                          14187 non-null  object
 2   description                   13584 non-null  object
 3   host_id                       14187 non-null  int64
 4   host_name                     14174 non-null  object
 5   host_since                    14174 non-null  object
 6   host_is_superhost             13976 non-null  object
 7   host_listings_count           14174 non-null  float64
 8   host_total_listings_count     14174 non-null  float64
 9   host_identity_verified        14174 non-null  object
 10  neighbourhood_cleansed        14187 non-null  object
 11  neighbourhood_group_cleansed  14187 non-null  object
 12  latitude                      14187 non-null  float64
 13  longitude                     14187 non-null  float64
 14  property_type                 14187 non-null  object
 15  room_type                     14187 non-null  object
 16  accommodates                  14187 non-null  int64
 17  bathrooms                     9232 non-null   float64
 18  bedrooms                      12164 non-null  float64
 19  beds                          9184 non-null   float64
 20  amenities                     14187 non-null  object
 21  price                         9183 non-null   object
 22  minimum_nights                14187 non-null  int64
 23  maximum_nights                14187 non-null  int64
 24  has_availability              13240 non-null  object
 25  availability_30               14187 non-null  int64
 26  availability_60               14187 non-null  int64
 27  availability_90               14187 non-null  int64
 28  availability_365              14187 non-null  int64
 29  number_of_reviews             14187 non-null  int64
 30  number_of_reviews_ltm         14187 non-null  int64
 31  number_of_reviews_l30d        14187 non-null  int64
 32  estimated_occupancy_l365d     14187 non-null  int64
 33  estimated_revenue_l365d       9183 non-null   float64
 34  review_scores_rating          10838 non-null  float64
 35  review_scores_accuracy        10836 non-null  float64
 36  review_scores_cleanliness     10838 non-null  float64
 37  review_scores_checkin         10835 non-null  float64
 38  review_scores_communication   10837 non-null  float64
 39  review_scores_location        10835 non-null  float64
 40  review_scores_value           10833 non-null  float64
 41  instant_bookable              14187 non-null  object
 42  reviews_per_month             10838 non-null  float64
dtypes: float64(16), int64(13), object(14)
memory usage: 4.7+ MB

In [142]:
# Convert the 'host_since' column to datetime format.
df['host_since'] = pd.to_datetime(df['host_since'], errors='coerce')

In [143]:
# Remove $ and commas, then convert to float

df['price'] = df['price'].replace(r'[\$,]', '', regex=True).astype(float)

In [144]:
# Check data types of each column
df.dtypes

id                                       int64
name                                    object
description                             object
host_id                                  int64
host_name                               object
host_since                      datetime64[ns]
host_is_superhost                       object
host_listings_count                    float64
host_total_listings_count              float64
host_identity_verified                  object
neighbourhood_cleansed                  object
neighbourhood_group_cleansed            object
latitude                               float64
longitude                              float64
property_type                           object
room_type                               object
accommodates                             int64
bathrooms                              float64
bedrooms                               float64
beds                                   float64
amenities                               object
price                                  float64
minimum_nights                           int64
maximum_nights                           int64
has_availability                        object
availability_30                          int64
availability_60                          int64
availability_90                          int64
availability_365                         int64
number_of_reviews                        int64
number_of_reviews_ltm                    int64
number_of_reviews_l30d                   int64
estimated_occupancy_l365d                int64
estimated_revenue_l365d                float64
review_scores_rating                   float64
review_scores_accuracy                 float64
review_scores_cleanliness              float64
review_scores_checkin                  float64
review_scores_communication            float64
review_scores_location                 float64
review_scores_value                    float64
instant_bookable                        object
reviews_per_month                      float64
dtype: object

In [145]:
cat_cols = df.select_dtypes(include='object').columns
print(cat_cols)

Index(['name', 'description', 'host_name', 'host_is_superhost',
       'host_identity_verified', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'amenities', 'has_availability', 'instant_bookable'],
      dtype='object')

In [146]:
# Check for leading/trailing spaces and inconsistent capitalization
for col in cat_cols:
    # Count entries with leading/trailing spaces
    n_spaces = (df[col].str.strip() != df[col]).sum()
    
    # Check capitalization inconsistency by comparing unique counts
    unique_lower = df[col].str.lower().nunique()
    unique_original = df[col].nunique()
    
    if n_spaces > 0:
        print(f"Column '{col}' has {n_spaces} entries with leading/trailing spaces")
    if unique_lower != unique_original:
        print(f"Column '{col}' has inconsistent capitalization")

Column 'name' has 2 entries with leading/trailing spaces
Column 'name' has inconsistent capitalization
Column 'description' has 661 entries with leading/trailing spaces
Column 'description' has inconsistent capitalization
Column 'host_name' has 14 entries with leading/trailing spaces
Column 'host_is_superhost' has 211 entries with leading/trailing spaces
Column 'host_identity_verified' has 13 entries with leading/trailing spaces
Column 'has_availability' has 947 entries with leading/trailing spaces

In [147]:
for col in cat_cols:
    df[col] = df[col].astype(str).str.strip()   # Remove leading/trailing spaces

In [148]:
df['neighbourhood_group_cleansed'].unique()

array(['Pankow', 'Friedrichshain-Kreuzberg', 'NeukÃ¶lln', 'Mitte',
       'Charlottenburg-Wilm.', 'Tempelhof - SchÃ¶neberg', 'Lichtenberg',
       'Treptow - KÃ¶penick', 'Steglitz - Zehlendorf', 'Spandau',
       'Reinickendorf', 'Marzahn - Hellersdorf'], dtype=object)

In [149]:
# Define your mapping (match keys exactly as they appear in your data)
name_map = {
    'Mitte': 'Mitte',
    'Friedrichshain-Kreuzberg': 'Friedrichshain-Kreuzberg',
    'Pankow': 'Pankow',
    'Charlottenburg-Wilm.': 'Charlottenburg-Wilmersdorf',
    'Spandau': 'Spandau',
    'Steglitz - Zehlendorf': 'Steglitz-Zehlendorf',
    'Tempelhof - SchÃ¶neberg': 'Tempelhof-SchÃ¶neberg',
    'NeukÃ¶lln': 'NeukÃ¶lln',
    'Treptow - KÃ¶penick': 'Treptow-KÃ¶penick',
    'Marzahn - Hellersdorf': 'Marzahn-Hellersdorf',
    'Lichtenberg': 'Lichtenberg',
    'Reinickendorf': 'Reinickendorf'
}

In [150]:
# Apply the mapping
df['neighbourhood_group_cleansed'] = df['neighbourhood_group_cleansed'].replace(name_map)

In [151]:
print(df['neighbourhood_group_cleansed'].unique())

['Pankow' 'Friedrichshain-Kreuzberg' 'NeukÃ¶lln' 'Mitte'
 'Charlottenburg-Wilmersdorf' 'Tempelhof-SchÃ¶neberg' 'Lichtenberg'
 'Treptow-KÃ¶penick' 'Steglitz-Zehlendorf' 'Spandau' 'Reinickendorf'
 'Marzahn-Hellersdorf']

In [152]:
# Rename the column 'neighbourhood_group_cleansed' to 'neighborhood' for better readability and consistency

df.rename(columns={'neighbourhood_group_cleansed': 'neighborhood'}, inplace=True)

In [153]:
df.head()

,id,name,description,host_id,host_name,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,...,estimated_revenue_l365d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,3176,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,3718,Britta,2008-10-19,f,1.0,1.0,t,...,13230.0,4.63,4.67,4.52,4.65,4.70,4.92,4.61,f,0.76
1,9991,Geourgeous flat - outstanding views,4 bedroom with very large windows and outstand...,33852,Philipp,2009-08-25,f,1.0,1.0,t,...,0.0,5.00,5.00,5.00,5.00,5.00,4.86,4.86,f,0.06
2,14325,Studio Apartment in Prenzlauer Berg,The apartment is located on the upper second f...,55531,Chris + Oliver,2009-11-18,t,4.0,5.0,t,...,0.0,4.68,5.00,4.85,4.70,4.85,4.60,4.45,f,0.14
3,16644,In the Heart of Berlin - Kreuzberg,Light and sunny 2-Room-turn of the century-fla...,64696,Rene,2009-12-20,f,4.0,4.0,t,...,NaN,4.72,4.86,4.86,4.93,4.86,4.67,4.71,f,0.26
4,17904,Beautiful Kreuzberg studio - 3 months minimum,"- apt is available starting September 1, 2024<...",68997,Matthias,2010-01-08,f,2.0,5.0,t,...,0.0,4.77,4.82,4.71,4.89,4.92,4.88,4.65,f,1.60

In [154]:
cols = ['host_is_superhost', 'host_identity_verified', 'has_availability', 'instant_bookable']

for col in cols:
    print(f"Distinct values in '{col}': {df[col].unique()}")

Distinct values in 'host_is_superhost': ['f' 't' 'nan']
Distinct values in 'host_identity_verified': ['t' 'f' 'nan']
Distinct values in 'has_availability': ['t' 'nan']
Distinct values in 'instant_bookable': ['f' 't']

In [155]:
for col in cols:
    # Replace string 'nan' with actual np.nan
    df[col] = df[col].replace('nan', np.nan)
    
    # Map 't'/'f' to boolean
    df[col] = df[col].map({'t': True, 'f': False})

print(df[cols].nunique(dropna=False))  # Check unique counts including NaNs

host_is_superhost         3
host_identity_verified    3
has_availability          2
instant_bookable          2
dtype: int64

In [156]:
df[cols].dtypes

host_is_superhost         object
host_identity_verified    object
has_availability          object
instant_bookable            bool
dtype: object

In [157]:
df['host_is_superhost'] = df['host_is_superhost'].astype('boolean')
df['host_identity_verified'] = df['host_identity_verified'].astype('boolean')
df['has_availability'] = df['has_availability'].astype('boolean')

In [158]:
df[cols].dtypes

host_is_superhost         boolean
host_identity_verified    boolean
has_availability          boolean
instant_bookable             bool
dtype: object

In [159]:
df['instant_bookable'] = df['instant_bookable'].astype('boolean')

In [160]:
df[cols].dtypes

host_is_superhost         boolean
host_identity_verified    boolean
has_availability          boolean
instant_bookable          boolean
dtype: object

In [161]:
df['host_name'].unique()

array(['Britta', 'Philipp', 'Chris + Oliver', ..., 'Takoua',
       'Vivian Jumaoas', 'Kamran'], dtype=object)

In [162]:
# Remove smileys like :-) or :D but keep hyphens
df['host_name'] = df['host_name'].str.replace(r'[:;]-?[)D]', '', regex=True)

# Replace + or & with comma and space, keep hyphens
df['host_name'] = df['host_name'].str.replace(r'\s*[\+&]\s*', ', ', regex=True)

In [163]:
df.head()

,id,name,description,host_id,host_name,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,...,estimated_revenue_l365d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,3176,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,3718,Britta,2008-10-19,False,1.0,1.0,True,...,13230.0,4.63,4.67,4.52,4.65,4.70,4.92,4.61,False,0.76
1,9991,Geourgeous flat - outstanding views,4 bedroom with very large windows and outstand...,33852,Philipp,2009-08-25,False,1.0,1.0,True,...,0.0,5.00,5.00,5.00,5.00,5.00,4.86,4.86,False,0.06
2,14325,Studio Apartment in Prenzlauer Berg,The apartment is located on the upper second f...,55531,"Chris, Oliver",2009-11-18,True,4.0,5.0,True,...,0.0,4.68,5.00,4.85,4.70,4.85,4.60,4.45,False,0.14
3,16644,In the Heart of Berlin - Kreuzberg,Light and sunny 2-Room-turn of the century-fla...,64696,Rene,2009-12-20,False,4.0,4.0,True,...,NaN,4.72,4.86,4.86,4.93,4.86,4.67,4.71,False,0.26
4,17904,Beautiful Kreuzberg studio - 3 months minimum,"- apt is available starting September 1, 2024<...",68997,Matthias,2010-01-08,False,2.0,5.0,True,...,0.0,4.77,4.82,4.71,4.89,4.92,4.88,4.65,False,1.60

In [164]:
# Count duplicates
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [165]:
if df['id'].is_unique:
    print("ID column is unique")
else:
    print("ID column has duplicates")

ID column is unique