### 🧪 Step 1: Research & Data Modelling  
PR Branch Name: clubs-data-modelling  

This notebook documents the process for Step 1 of the "Clubs & Social Activities in Berlin" project:  

- **1.1 Data Source Discovery**  
- **1.2 Modelling & Planning**  
- **1.3 Prepare the /sources Directory**  
- **1.4 Review**  

---

### 🎯 Goal  
- Identify and document relevant data sources.  
- Select the key parameters for our use case.  
- Draft the planned table schema.  
- Plan cleaning and transformation steps before database population.  

---

## 1.1 Data Source Discovery  

**Topic:** Clubs & Social Activities in Berlin  

**Main source:**  
- **Name:** OpenStreetMap (OSM) via OSMnx / Overpass API  
- **Source and origin:** Public crowdsourced geospatial database  
- **Update frequency:** Continuous (dynamic)  
- **Data type:** Dynamic (API query using tags such as `club=*`, `leisure=*`, `sport=*`, `community_centre=*`)  
- **Reason for selection:**  
  - Covers a wide variety of sports clubs, cultural clubs, and social activity centers in Berlin  
  - Includes geospatial data (coordinates, polygons), names, addresses, and attributes  
  - Open, free, and queryable programmatically  

**Optional additional sources:**  
- **Name:** Berliner Turn- und Freizeitsport-Bund (BTFB)  (https://btfb.de/vereinsservice/vereinssuche/#Vereine-im-Portrait)
  - Source: Official Berlin sports association website  
  - Type: Static (manual export / scraping)  
  - Use: Provides official structured list of sports clubs in Berlin  

- **Name:** Berlin Open Data Portal (daten.berlin.de)  
  - Source: Berlin city government  
  - Type: Static or semi-static (CSV, GeoJSON)  
  - Use: Enrichment with official district boundaries or metadata  

  **Enrichment potential:**  
- Use Berlin shapefiles (districts, neighborhoods) for spatial joins.  


---

## 1.2 Modelling & Planning  

**Key Parameters (planned):**  
- Identification: `name`, `club`, `category`, `subcategory`  
- Location: `address`, `district`, `geometry (lat/lon)`  
- Contact: `website`, `phone`, `email`  
- Attributes: `opening_hours`, `membership`, `fees`, `sport` / `leisure type`  
- Metadata: `source`, `last_updated`  

**Integration with existing tables:**  
- Join on `district_id` from the Berlin districts reference table.  


**Planned table schema:**  
```sql
CREATE TABLE berlin_clubs (
    club_id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    club TEXT,
    leisure TEXT,
    sport TEXT,
    amenity TEXT,
    street TEXT,
    housenumber TEXT,
    postcode TEXT,
    district TEXT,
    city TEXT,
    country TEXT,
    district_id INT REFERENCES berlin_districts(district_id),
    latitude FLOAT NOT NULL,
    longitude FLOAT NOT NULL,
    website TEXT,
    phone TEXT,
    email TEXT,
    opening_hours TEXT,
    wheelchair TEXT
);

In [567]:
# Install Libraries

# !pip install osmnx geopandas

In [568]:
# Import Libraries

import osmnx as ox
import geopandas as gpd
import pandas as pd

In [569]:
ox.settings.use_cache = False

In [570]:
# Define multiple tags
# tags = {
    # "amenity": ["community_centre", "arts_centre", "youth_centre", "music_school"],
    # "leisure": ["sports_centre", "fitness_centre", "dance"],
    # "club": True  # will capture all club types
# }
tags = {
    "amenity": [
        "community_centre", "arts_centre", "social_centre", 
        "youth_centre", "social_club", "music_school","events_venue",
        "music_venue", 
        "dojo", "dancing_school","studio",
        "theatre"
    ],
    "leisure": [
       "sports_centre", "fitness_centre", "dance", 
        "hackerspace", "music_venue", "garden"
    ],
   "club": True 
}
clubs_gdf = ox.features_from_place("Berlin, Germany", tags)

print(clubs_gdf.head())
print(len(clubs_gdf), "clubs/activities found in Berlin")

                                   geometry       amenity     contact:phone  \
element id
node    30012753  POINT (13.42919 52.49404)  events_venue  +49 30 338402320
        60775321  POINT (13.48162 52.53862)           NaN               NaN
        66917094  POINT (13.38888 52.52392)       theatre               NaN
        66917098  POINT (13.38862 52.52362)       theatre   +49 30 27879030
        66917115  POINT (13.38851 52.52067)       theatre   +49 30 203000-0

                                       contact:website  \
element id
node    30012753  http://www.umspannwerk-kreuzberg.de/
        60775321                                   NaN
        66917094                                   NaN
        66917098                                   NaN
        66917115                                   NaN

                                     name wheelchair addr:housenumber  \
element id
node    30012753              Umspannwerk        yes              NaN
        60775321                     KW76        NaN               76
        66917094    Friedrichstadt-Palast        yes              107
        66917098      Quatsch Comedy Club    limited              107
        66917115  Kabarett-Theater Distel        yes              101

                         addr:street   club addr:city  ... nickname  \
element id                                             ...
node    30012753                 NaN    NaN       NaN  ...      NaN
        60775321  Konrad-Wolf-Straße  poker       NaN  ...      NaN
        66917094     Friedrichstraße    NaN    Berlin  ...      NaN
        66917098     Friedrichstraße    NaN    Berlin  ...      NaN
        66917115     Friedrichstraße    NaN    Berlin  ...      NaN

                 construction manufacturer monitoring:harvesting type  \
element id
node    30012753          NaN          NaN                   NaN  NaN
        60775321          NaN          NaN                   NaN  NaN
        66917094          NaN          NaN                   NaN  NaN
        66917098          NaN          NaN                   NaN  NaN
        66917115          NaN          NaN                   NaN  NaN

                 not:name length maxdepth nudism  \
element id
node    30012753      NaN    NaN      NaN    NaN
        60775321      NaN    NaN      NaN    NaN
        66917094      NaN    NaN      NaN    NaN
        66917098      NaN    NaN      NaN    NaN
        66917115      NaN    NaN      NaN    NaN

                 communication:amateur_radio:pota
element id
node    30012753                              NaN
        60775321                              NaN
        66917094                              NaN
        66917098                              NaN
        66917115                              NaN

[5 rows x 473 columns]
6493 clubs/activities found in Berlin

In [571]:
clubs_gdf = clubs_gdf.to_crs(epsg=4326)

In [572]:
clubs_gdf['geometry'] = clubs_gdf['geometry'].apply(lambda geom: geom if geom.geom_type == 'Point' else geom.representative_point())
#Extract latitude and longitude
clubs_gdf["latitude"] = clubs_clean.geometry.y
clubs_gdf["longitude"] = clubs_clean.geometry.x
clubs_gdf

                                     geometry       amenity     contact:phone  \
element id
node    30012753    POINT (13.42919 52.49404)  events_venue  +49 30 338402320
        60775321    POINT (13.48162 52.53862)           NaN               NaN
        66917094    POINT (13.38888 52.52392)       theatre               NaN
        66917098    POINT (13.38862 52.52362)       theatre   +49 30 27879030
        66917115    POINT (13.38851 52.52067)       theatre   +49 30 203000-0
...                                       ...           ...               ...
way     1428999282   POINT (13.3565 52.56115)           NaN               NaN
        1428999283  POINT (13.35644 52.56128)           NaN               NaN
        1428999284  POINT (13.35655 52.56104)           NaN               NaN
        1429788653  POINT (13.42016 52.47043)           NaN               NaN
        1429892018   POINT (13.4244 52.46842)           NaN               NaN

                                         contact:website  \
element id
node    30012753    http://www.umspannwerk-kreuzberg.de/
        60775321                                     NaN
        66917094                                     NaN
        66917098                                     NaN
        66917115                                     NaN
...                                                  ...
way     1428999282                                   NaN
        1428999283                                   NaN
        1428999284                                   NaN
        1429788653                                   NaN
        1429892018                                   NaN

                                       name wheelchair addr:housenumber  \
element id
node    30012753                Umspannwerk        yes              NaN
        60775321                       KW76        NaN               76
        66917094      Friedrichstadt-Palast        yes              107
        66917098        Quatsch Comedy Club    limited              107
        66917115    Kabarett-Theater Distel        yes              101
...                                     ...        ...              ...
way     1428999282                      NaN        NaN              NaN
        1428999283                      NaN        NaN              NaN
        1428999284                      NaN        NaN              NaN
        1429788653                 Nanowald        NaN              NaN
        1429892018                      NaN        NaN              NaN

                           addr:street   club addr:city  ... manufacturer  \
element id                                               ...
node    30012753                   NaN    NaN       NaN  ...          NaN
        60775321    Konrad-Wolf-Straße  poker       NaN  ...          NaN
        66917094       Friedrichstraße    NaN    Berlin  ...          NaN
        66917098       Friedrichstraße    NaN    Berlin  ...          NaN
        66917115       Friedrichstraße    NaN    Berlin  ...          NaN
...                                ...    ...       ...  ...          ...
way     1428999282                 NaN    NaN       NaN  ...          NaN
        1428999283                 NaN    NaN       NaN  ...          NaN
        1428999284                 NaN    NaN       NaN  ...          NaN
        1429788653                 NaN    NaN       NaN  ...          NaN
        1429892018                 NaN    NaN       NaN  ...          NaN

                   monitoring:harvesting type not:name length maxdepth nudism  \
element id
node    30012753                     NaN  NaN      NaN    NaN      NaN    NaN
        60775321                     NaN  NaN      NaN    NaN      NaN    NaN
        66917094                     NaN  NaN      NaN    NaN      NaN    NaN
        66917098                     NaN  NaN      NaN    NaN      NaN    NaN
        66917115                     NaN  NaN      NaN    NaN      NaN    NaN
...                                  ...  ...      ...    ...      ...    ...
way     1428999282                   NaN  NaN      NaN    NaN      NaN    NaN
        1428999283                   NaN  NaN      NaN    NaN      NaN    NaN
        1428999284                   NaN  NaN      NaN    NaN      NaN    NaN
        1429788653                   NaN  NaN      NaN    NaN      NaN    NaN
        1429892018                   NaN  NaN      NaN    NaN      NaN    NaN

                   communication:amateur_radio:pota   latitude  longitude
element id
node    30012753                                NaN  52.494042  13.429187
        60775321                                NaN  52.538623  13.481623
        66917094                                NaN  52.523922  13.388879
        66917098                                NaN  52.523624  13.388621
        66917115                                NaN  52.520667  13.388505
...                                             ...        ...        ...
way     1428999282                              NaN  52.561152  13.356499
        1428999283                              NaN  52.561283  13.356439
        1428999284                              NaN  52.561039  13.356547
        1429788653                              NaN  52.470430  13.420161
        1429892018                              NaN  52.468417  13.424398

[6493 rows x 475 columns]

In [573]:
print(clubs_gdf.notnull().sum().sort_values(ascending=False).head(30))

geometry                6493
latitude                6493
longitude               6493
leisure                 4631
name                    3398
garden:type             2168
access                  2151
addr:street             1925
addr:housenumber        1909
addr:postcode           1843
addr:city               1800
amenity                 1614
addr:country            1297
addr:suburb             1283
website                 1237
wheelchair              1072
sport                    950
operator                 903
contact:website          771
building                 761
opening_hours            685
check_date               528
phone                    506
community_centre         479
contact:phone            436
club                     384
building:levels          334
contact:email            309
community_centre:for     308
wikidata                 299
dtype: int64

In [574]:
# Select important columns
important_cols = [
    "name",               
    "club",                 
    "leisure",             
    "sport",                
    "amenity",               
    "addr:street",           
    "addr:housenumber",
    "addr:suburb",      
    "addr:postcode",         
    "addr:city",
    "addr:country",            
    "website",              
    "phone",             
    "email",               
    "opening_hours",         
    "geometry" ,
    "wheelchair",
    "latitude",
    "longitude"              
]

In [575]:
clubs_df = clubs_gdf[important_cols].copy()

print(clubs_df.head(10))

                                      name   club leisure sport       amenity  \
element id
node    30012753               Umspannwerk    NaN     NaN   NaN  events_venue
        60775321                      KW76  poker     NaN   NaN           NaN
        66917094     Friedrichstadt-Palast    NaN     NaN   NaN       theatre
        66917098       Quatsch Comedy Club    NaN     NaN   NaN       theatre
        66917115   Kabarett-Theater Distel    NaN     NaN   NaN       theatre
        66917188            Admiralspalast    NaN     NaN   NaN       theatre
        79808389             Die Wühlmäuse    NaN     NaN   NaN       theatre
        173985100   HAU 2 (Hebbel am Ufer)    NaN     NaN   NaN       theatre
        229948256              Sophiensæle    NaN     NaN   NaN       theatre
        257709121       Kulturhaus Spandau    NaN     NaN   NaN   arts_centre

                          addr:street addr:housenumber addr:suburb  \
element id
node    30012753                  NaN              NaN         NaN
        60775321   Konrad-Wolf-Straße               76         NaN
        66917094      Friedrichstraße              107       Mitte
        66917098      Friedrichstraße              107       Mitte
        66917115      Friedrichstraße              101       Mitte
        66917188      Friedrichstraße              101       Mitte
        79808389         Pommernallee              2-4     Westend
        173985100     Hallesches Ufer               34   Kreuzberg
        229948256       Sophienstraße               18       Mitte
        257709121                 NaN              NaN         NaN

                  addr:postcode addr:city addr:country  \
element id
node    30012753            NaN       NaN          NaN
        60775321            NaN       NaN          NaN
        66917094          10117    Berlin           DE
        66917098          10117    Berlin           DE
        66917115          10117    Berlin           DE
        66917188          10117    Berlin           DE
        79808389          14052    Berlin           DE
        173985100         10963    Berlin           DE
        229948256         10178    Berlin           DE
        257709121           NaN       NaN          NaN

                                               website            phone email  \
element id
node    30012753                                   NaN              NaN   NaN
        60775321                                   NaN              NaN   NaN
        66917094            https://www.palast.berlin/  +49 30 23262326   NaN
        66917098   https://www.quatsch-comedy-club.de/              NaN   NaN
        66917115           http://www.distel-berlin.de              NaN   NaN
        66917188   https://www.admiralspalast.theater/              NaN   NaN
        79808389                                   NaN              NaN   NaN
        173985100       https://www.hebbel-am-ufer.de/              NaN   NaN
        229948256                                  NaN              NaN   NaN
        257709121                                  NaN              NaN   NaN

                  opening_hours                   geometry wheelchair  \
element id
node    30012753            NaN  POINT (13.42919 52.49404)        yes
        60775321            NaN  POINT (13.48162 52.53862)        NaN
        66917094            NaN  POINT (13.38888 52.52392)        yes
        66917098            NaN  POINT (13.38862 52.52362)    limited
        66917115            NaN  POINT (13.38851 52.52067)        yes
        66917188            NaN   POINT (13.3889 52.52077)    limited
        79808389            NaN  POINT (13.27075 52.50887)        yes
        173985100           NaN  POINT (13.38587 52.49911)        yes
        229948256           NaN   POINT (13.4016 52.52588)        yes
        257709121           NaN  POINT (13.20231 52.53548)        yes

                    latitude  longitude
element id
node    30012753   52.494042  13.429187
        60775321   52.538623  13.481623
        66917094   52.523922  13.388879
        66917098   52.523624  13.388621
        66917115   52.520667  13.388505
        66917188   52.520771  13.388902
        79808389   52.508865  13.270751
        173985100  52.499114  13.385872
        229948256  52.525883  13.401602
        257709121  52.535479  13.202312

In [576]:
# Rename map for only the columns that need renaming
rename_map = {
    "addr:street": "street",
    "addr:housenumber": "housenumber",
    "addr:postcode": "postcode",
    "addr:city": "city",
    "addr:country": "country",
    "addr:suburb": "district"
}

In [577]:
# Rename the columns
clubs_df = clubs_df.rename(columns=rename_map)

In [578]:
clubs_df.head()

                                     name   club leisure sport       amenity  \
element id
node    30012753              Umspannwerk    NaN     NaN   NaN  events_venue
        60775321                     KW76  poker     NaN   NaN           NaN
        66917094    Friedrichstadt-Palast    NaN     NaN   NaN       theatre
        66917098      Quatsch Comedy Club    NaN     NaN   NaN       theatre
        66917115  Kabarett-Theater Distel    NaN     NaN   NaN       theatre

                              street housenumber district postcode    city  \
element id
node    30012753                 NaN         NaN      NaN      NaN     NaN
        60775321  Konrad-Wolf-Straße          76      NaN      NaN     NaN
        66917094     Friedrichstraße         107    Mitte    10117  Berlin
        66917098     Friedrichstraße         107    Mitte    10117  Berlin
        66917115     Friedrichstraße         101    Mitte    10117  Berlin

                 country                              website  \
element id
node    30012753     NaN                                  NaN
        60775321     NaN                                  NaN
        66917094      DE           https://www.palast.berlin/
        66917098      DE  https://www.quatsch-comedy-club.de/
        66917115      DE          http://www.distel-berlin.de

                            phone email opening_hours  \
element id
node    30012753              NaN   NaN           NaN
        60775321              NaN   NaN           NaN
        66917094  +49 30 23262326   NaN           NaN
        66917098              NaN   NaN           NaN
        66917115              NaN   NaN           NaN

                                   geometry wheelchair   latitude  longitude
element id
node    30012753  POINT (13.42919 52.49404)        yes  52.494042  13.429187
        60775321  POINT (13.48162 52.53862)        NaN  52.538623  13.481623
        66917094  POINT (13.38888 52.52392)        yes  52.523922  13.388879
        66917098  POINT (13.38862 52.52362)    limited  52.523624  13.388621
        66917115  POINT (13.38851 52.52067)        yes  52.520667  13.388505

In [579]:
for col in [ "name", "club", "leisure", "sport", "amenity"]:
    print(f"\n--- {col.upper()} ---")
    print(clubs_df[col].dropna().unique())

--- NAME ---
['Umspannwerk' 'KW76' 'Friedrichstadt-Palast' ... 'Gemeinschaftsbeet'
 'Hochbeet Annie Heuser Waldorfschule'
 'Begegnungszentrum im Kölner Viertel']

--- CLUB ---
['poker' 'scout' 'sport' 'social' 'yes' 'dance' 'amateur_radio'
 'automobile' 'fishing' 'Körperschaft_des_Öffentlichen_Rechts' 'culture'
 'fan' 'animals' 'elderly' 'bonsai' 'dog' 'freemasonry' 'student'
 'business' 'game' 'music' 'ethnic' 'Agrarbörse Deutschland Ost' 'linux'
 'history' 'education' 'computer' 'religion' 'art' 'politics'
 'board_games' 'youth_movement' 'archive' 'chess' 'sailing' 'science'
 'humanist' 'charity' 'nature' 'hdk_0' 'youth' 'academic' 'motorcycle'
 'allotment_club' 'allotments' 'TC Berolina Biesdorf' 'gardening']

--- LEISURE ---
['hackerspace' 'fitness_centre' 'sports_centre' 'garden' 'dance'
 'music_venue' 'pitch' 'playground' 'stadium' 'ice_rink' 'marina' 'track']

--- SPORT ---
['bowling' '10pin' 'rowing' 'fitness' 'soccer' 'yoga' 'pilates'
 'gymnastics' 'hapkido' 'karate' 'swimming' 'kung_fu'
 'fitness;weightlifting;yoga' 'athletics;fitness;multi' 'sailing'
 'cycling' 'karting' 'dance' 'multi' 'fitness;gymnastics;exercise'
 'martial_art' 'judo' 'equestrian' 'scuba_diving' 'martial_arts' 'aikido'
 'taijiquan' 'taekwondo' 'tennis' 'table_tennis' 'dancing' 'darts'
 'climbing_adventure' 'gymnastics;fitness' 'tai_chi' 'martial_arts;judo'
 'handball;athletics;basketball;triatlon;volleyball;gymnastics;water_sports;dance;9pin;fistball'
 'climbing' 'kung_fu;taijiquan;qigong' 'poledance' 'karate;jiu-jitsu'
 'budo' 'ems' 'boxing;kickboxing;wendo' 'bowling;table_tennis;badminton'
 'yoga;pilates' 'rugby_union' 'chess' 'dance;dancing;fitness' 'kickboxing'
 'taijiquan;qigong' 'axe_throwing' 'shooting' 'yoga;capoeira'
 'tennis;ice_hockey' 'boxing' 'archery;shooting' 'baseball'
 'martial_arts;self_defense' 'yoga;dance' 'aikido;kenjutsu;zen'
 'bouldering' 'pole_dance' 'wingtsun' 'krav_maga' 'aikido;qigong'
 'taekwondo;jiu-jitsu;judo;kickboxing' 'jiu-jitsu' 'fitness;climbing'
 'bicycle' 'shuffleboard'
 'fitness;karate;kickboxing;kempo;arnis;kobudo;strength;selfdefense;personaltraining'
 'judo;karate;aikido;kickboxing' 'fitness;dancing;martial_arts'
 'volleyball;basketball;badminton;table_tennis;gymnastics;handball;soccer'
 'wingtsun;escrima' 'fitness;gym'
 'fitness;basketball;handball;volleyball;orienteering;table_tennis;dancing;dance;gymnastics'
 'archery' 'bodybuilding;fitness' 'fitness;crossfit' 'aikido;kendo'
 'rehasport;kinderkarate;yoga;shotokan;kindertanz;ballett' 'basketball'
 'ems;power_plate' 'fitness;weightlifting' 'arrow_tag' 'laser_tag'
 'snooker' 'crossfit;martial_arts;hyrox;hiit' 'volleyball'
 'multi;yoga;fitness;running;swimming' 'canoe' 'taekwondo;aikido' 'padel'
 'quadball;quidditch' 'yoga;fitness'
 'aikido;kummooyeh;taekwondo;tai_chi;self_defense'
 'martial_arts,kung_fu,wingtsun' 'kayak' 'kendo'
 'athletics; handball; chess; gymnastics' 'climbing;bouldering'
 'beachvolleyball;soccer' 'roller_hockey;roller_derby' 'ice_skating'
 'soccer;field_hockey;rugby;athletics' 'soccer;hockey' 'surfing'
 'field_hockey' 'swimming;tennis;badminton' 'squash' 'athletics'
 'skateboard' 'paddle_tennis' 'gym' 'bowls'
 'squash;9pin;badminton;table_tennis;billiard;dart' 'soccer;tennis' '9pin'
 'soccer;basketball' 'canoe;sailing'
 'Karatedo Doshinkan;Serrada Escrima;Judo;Kung Fu;Karate;Bauchtanz;Boxen;Kick-Boxen'
 'rowing;sailing'
 'tennis;fitness;badminton;beachvolleyball;table_tennis;soccer'
 'miniature_golf' 'boules' 'canoeing' 'hockey;tennis' 'boating' 'fishing'
 'fitness;table_tennis;gymnastics' 'rowing;scuba_diving;sailing' 'bmx'
 'beachvolleyball' 'soccer;athletics' 'cycling;swimming'
 'softball;baseball' 'bmx;mtb']

--- AMENITY ---
['events_venue' 'theatre' 'arts_centre' 'community_centre' 'social_centre'
 'studio' 'dojo' 'music_school' 'pub' 'nightclub' 'dancing_school' 'cafe'
 'restaurant' 'music_venue' 'bicycle_parking' 'photo_booth' 'school'
 'social_club']

In [580]:
print(clubs_df["amenity"].unique())

['events_venue' nan 'theatre' 'arts_centre' 'community_centre'
 'social_centre' 'studio' 'dojo' 'music_school' 'pub' 'nightclub'
 'dancing_school' 'cafe' 'restaurant' 'music_venue' 'bicycle_parking'
 'photo_booth' 'school' 'social_club']

In [581]:

allowed_amenities = [
    'arts_centre', 'community_centre', 'events_venue', 'music_venue',
    'social_centre', 'studio', 'theatre', 'dojo', 'music_school',
    'social_club', 'dancing_school'
]

allowed_leisure = [
    'hackerspace' 'fitness_centre' 'sports_centre' 'garden' 'dance'
 'music_venue' 'pitch' 'playground' 'stadium' 'ice_rink' 'marina' 'track'
]



clubs_df = clubs_df[
    (clubs_df['amenity'].isin(allowed_amenities)) |
    (clubs_df['leisure'].isin(allowed_leisure)) |
    (clubs_df['club'].notna())
]


print(clubs_df[['name', 'amenity', 'leisure', 'club']].head())
print(len(clubs_df), "clubs/activities after filtering")

                                     name       amenity leisure   club
element id
node    30012753              Umspannwerk  events_venue     NaN    NaN
        60775321                     KW76           NaN     NaN  poker
        66917094    Friedrichstadt-Palast       theatre     NaN    NaN
        66917098      Quatsch Comedy Club       theatre     NaN    NaN
        66917115  Kabarett-Theater Distel       theatre     NaN    NaN
1926 clubs/activities after filtering

In [582]:

clubs_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 1926 entries, ('node', np.int64(30012753)) to ('way', np.int64(1423837870))
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1876 non-null   object
 1   club           384 non-null    object
 2   leisure        64 non-null     object
 3   sport          226 non-null    object
 4   amenity        1596 non-null   object
 5   street         1266 non-null   object
 6   housenumber    1256 non-null   object
 7   district       842 non-null    object
 8   postcode       1211 non-null   object
 9   city           1194 non-null   object
 10  country        853 non-null    object
 11  website        818 non-null    object
 12  phone          327 non-null    object
 13  email          197 non-null    object
 14  opening_hours  382 non-null    object
 15  geometry       1926 non-null   geometry
 16  wheelchair     584 non-null    object
 17  latitude       1926 non-null   float64
 18  longitude      1926 non-null   float64
dtypes: float64(2), geometry(1), object(16)
memory usage: 603.8+ KB

In [583]:
clubs_df = clubs_df.drop_duplicates()
clubs_df = clubs_df.drop_duplicates(subset=['name', 'street', 'housenumber'])
clubs_df = clubs_df.dropna(subset=['name', 'geometry'])

In [584]:

clubs_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 1847 entries, ('node', np.int64(30012753)) to ('way', np.int64(1423837870))
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1847 non-null   object
 1   club           350 non-null    object
 2   leisure        63 non-null     object
 3   sport          215 non-null    object
 4   amenity        1545 non-null   object
 5   street         1247 non-null   object
 6   housenumber    1237 non-null   object
 7   district       834 non-null    object
 8   postcode       1195 non-null   object
 9   city           1179 non-null   object
 10  country        845 non-null    object
 11  website        804 non-null    object
 12  phone          324 non-null    object
 13  email          196 non-null    object
 14  opening_hours  377 non-null    object
 15  geometry       1847 non-null   geometry
 16  wheelchair     580 non-null    object
 17  latitude       1847 non-null   float64
 18  longitude      1847 non-null   float64
dtypes: float64(2), geometry(1), object(16)
memory usage: 591.8+ KB

In [585]:
clubs_df.head()

                                     name   club leisure sport       amenity  \
element id
node    30012753              Umspannwerk    NaN     NaN   NaN  events_venue
        60775321                     KW76  poker     NaN   NaN           NaN
        66917094    Friedrichstadt-Palast    NaN     NaN   NaN       theatre
        66917098      Quatsch Comedy Club    NaN     NaN   NaN       theatre
        66917115  Kabarett-Theater Distel    NaN     NaN   NaN       theatre

                              street housenumber district postcode    city  \
element id
node    30012753                 NaN         NaN      NaN      NaN     NaN
        60775321  Konrad-Wolf-Straße          76      NaN      NaN     NaN
        66917094     Friedrichstraße         107    Mitte    10117  Berlin
        66917098     Friedrichstraße         107    Mitte    10117  Berlin
        66917115     Friedrichstraße         101    Mitte    10117  Berlin

                 country                              website  \
element id
node    30012753     NaN                                  NaN
        60775321     NaN                                  NaN
        66917094      DE           https://www.palast.berlin/
        66917098      DE  https://www.quatsch-comedy-club.de/
        66917115      DE          http://www.distel-berlin.de

                            phone email opening_hours  \
element id
node    30012753              NaN   NaN           NaN
        60775321              NaN   NaN           NaN
        66917094  +49 30 23262326   NaN           NaN
        66917098              NaN   NaN           NaN
        66917115              NaN   NaN           NaN

                                   geometry wheelchair   latitude  longitude
element id
node    30012753  POINT (13.42919 52.49404)        yes  52.494042  13.429187
        60775321  POINT (13.48162 52.53862)        NaN  52.538623  13.481623
        66917094  POINT (13.38888 52.52392)        yes  52.523922  13.388879
        66917098  POINT (13.38862 52.52362)    limited  52.523624  13.388621
        66917115  POINT (13.38851 52.52067)        yes  52.520667  13.388505

# Geometry sanity checks

In [586]:
print("Missing geometries:", clubs_df.geometry.isna().sum())

Missing geometries: 0

In [587]:
# Goal: Verify lat/lon look realistic.
# Why? If values are way off, something went wrong in conversion.

print("Latitude range:", clubs_df["latitude"].min(), "to", clubs_df["latitude"].max())

print("Longitude range:", clubs_df["longitude"].min(), "to", clubs_df["longitude"].max())

Latitude range: 52.37387955 to 52.6448252
Longitude range: 13.12237797012892 to 13.7311336

## 1.3 Prepare the /sources Directory
# Raw Data Files:

- **clubs_raw.geojson** (includes geometry)
- **clubs_raw.csv** (tabular only, no geometry)
- **README.md** in /sources will contain:

**Data sources used.**
**Planned transformation steps.**

In [588]:
# Save locally
clubs_gdf.to_file("clubs_raw.geojson", driver="GeoJSON")
clubs_gdf.drop(columns="geometry").to_csv("clubs_raw.csv", index=False)

### Step 2: Data Transformation

In [589]:
# Standardize column names

clubs_df.columns = clubs_df.columns.str.lower().str.strip().str.replace(" ", "_").str.replace("-", "_")

# Normalize yes/no columns into Boolean (True/False)

clubs_df["wheelchair"] = clubs_df["wheelchair"].map({"yes": True, "no": False})

In [590]:
print(clubs_df.dtypes)

name               object
club               object
leisure            object
sport              object
amenity            object
street             object
housenumber        object
district           object
postcode           object
city               object
country            object
website            object
phone              object
email              object
opening_hours      object
geometry         geometry
wheelchair         object
latitude          float64
longitude         float64
dtype: object

# Drop irrelevant / redundant columns

In [591]:
clubs_df.drop(columns=["city","district" ,"country", "geometry"], inplace=True)

# Normalize categories

In [592]:
clubs_df["wheelchair"] = clubs_df["wheelchair"].fillna("unknown").astype(str).str.strip().str.lower()

In [593]:

clubs_df["opening_hours"] = clubs_df["opening_hours"].fillna("unknown").astype(str).str.strip().str.lower()

In [594]:
clubs_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 1847 entries, ('node', np.int64(30012753)) to ('way', np.int64(1423837870))
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1847 non-null   object
 1   club           350 non-null    object
 2   leisure        63 non-null     object
 3   sport          215 non-null    object
 4   amenity        1545 non-null   object
 5   street         1247 non-null   object
 6   housenumber    1237 non-null   object
 7   postcode       1195 non-null   object
 8   website        804 non-null    object
 9   phone          324 non-null    object
 10  email          196 non-null    object
 11  opening_hours  1847 non-null   object
 12  wheelchair     1847 non-null   object
 13  latitude       1847 non-null   float64
 14  longitude      1847 non-null   float64
dtypes: float64(2), object(13)
memory usage: 534.1+ KB

In [595]:
clubs_df.head()

                                     name   club leisure sport       amenity  \
element id
node    30012753              Umspannwerk    NaN     NaN   NaN  events_venue
        60775321                     KW76  poker     NaN   NaN           NaN
        66917094    Friedrichstadt-Palast    NaN     NaN   NaN       theatre
        66917098      Quatsch Comedy Club    NaN     NaN   NaN       theatre
        66917115  Kabarett-Theater Distel    NaN     NaN   NaN       theatre

                              street housenumber postcode  \
element id
node    30012753                 NaN         NaN      NaN
        60775321  Konrad-Wolf-Straße          76      NaN
        66917094     Friedrichstraße         107    10117
        66917098     Friedrichstraße         107    10117
        66917115     Friedrichstraße         101    10117

                                              website            phone email  \
element id
node    30012753                                  NaN              NaN   NaN
        60775321                                  NaN              NaN   NaN
        66917094           https://www.palast.berlin/  +49 30 23262326   NaN
        66917098  https://www.quatsch-comedy-club.de/              NaN   NaN
        66917115          http://www.distel-berlin.de              NaN   NaN

                 opening_hours wheelchair   latitude  longitude
element id
node    30012753       unknown       true  52.494042  13.429187
        60775321       unknown    unknown  52.538623  13.481623
        66917094       unknown       true  52.523922  13.388879
        66917098       unknown    unknown  52.523624  13.388621
        66917115       unknown       true  52.520667  13.388505

### Add district and district_id to the data frame

In [ ]:
# conda install -c conda-forge geopy

2 channel Terms of Service accepted
Channels:
 - conda-forge
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
from geopy.geocoders import Nominatim
from time import sleep

# Initialize the geolocator
geolocator = Nominatim(user_agent="berlin_district_locator")

# Define a reverse geocoding function to get the official Berlin district (Bezirk)
def get_district(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), exactly_one=True, language='de')
        sleep(1)  # Nominatim rate limit: 1 request per second
        if location and "address" in location.raw:
            address = location.raw["address"]
            return (
                address.get("city_district") or
                address.get("borough") or
                address.get("county") or
                None
            )
        return None
    except:
        return None

# Apply function row by row → add new "district" column
clubs_df["district"] = clubs_df.apply(
    lambda row: get_district(row["latitude"], row["longitude"]) if pd.notnull(row["latitude"]) else None,
    axis=1
)

In [ ]:
# Generating district ids
# https://www.regionalstatistik.de

# District mapping (official codes as strings)
district_mapping = {
    'Mitte': '11001001',
    'Friedrichshain-Kreuzberg': '11002002',
    'Pankow': '11003003',
    'Charlottenburg-Wilmersdorf': '11004004',
    'Spandau': '11005005',
    'Steglitz-Zehlendorf': '11006006',
    'Tempelhof-Schöneberg': '11007007',
    'Neukölln': '11008008',
    'Treptow-Köpenick': '11009009',
    'Marzahn-Hellersdorf': '11010010',
    'Lichtenberg': '11011011',
    'Reinickendorf': '11012012'
}

# Apply mapping to create district_id column (string)
banks_df['district_id'] = banks_df['district'].map(district_mapping).astype(str)

# (Optional) Check if some districts were not mapped
#unmapped = df[~df['district'].isin(district_mapping.keys())]['district'].unique()
#if len(unmapped) > 0:
    #print("⚠️ Unmapped districts found:", unmapped)